Examples/Example TrafficLight Control.json
[
    {
        "id": "3b731280de1d1041",
        "type": "tab",
        "label": "TrafficLight control",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "90c88e50dcd5d1b9",
        "type": "inject",
        "z": "3b731280de1d1041",
        "name": "Button",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 80,
        "wires": [
            [
                "0a4103f357974aa9"
            ]
        ]
    },
    {
        "id": "3a1b1e08afd4dcde",
        "type": "inject",
        "z": "3b731280de1d1041",
        "name": "Button",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 120,
        "wires": [
            [
                "8d3c2e2e33505ccc"
            ]
        ]
    },
    {
        "id": "3fdf48c976dcba08",
        "type": "inject",
        "z": "3b731280de1d1041",
        "name": "Button",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 160,
        "wires": [
            [
                "700d435c782d806f"
            ]
        ]
    },
    {
        "id": "f2a803d552238618",
        "type": "inject",
        "z": "3b731280de1d1041",
        "name": "Button",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 200,
        "wires": [
            [
                "445a83e1964b4ff8"
            ]
        ]
    },
    {
        "id": "0a4103f357974aa9",
        "type": "IOT Function",
        "z": "3b731280de1d1041",
        "name": "TrafficLights1_1 Red on",
        "robot_name": "TrafficLights1_1",
        "N": "0",
        "X": "0",
        "Y": "0",
        "T": "0",
        "G": "0",
        "V": "0",
        "D0": "0",
        "L1": "1",
        "L2": "0",
        "L3": "0",
        "L4": "0",
        "P": "0",
        "Text": "",
        "x": 290,
        "y": 80,
        "wires": [
            [
                "fc71eabeaf517aea"
            ]
        ]
    },
    {
        "id": "fc71eabeaf517aea",
        "type": "IOT Send",
        "z": "3b731280de1d1041",
        "name": "",
        "x": 480,
        "y": 80,
        "wires": []
    },
    {
        "id": "8d3c2e2e33505ccc",
        "type": "IOT Function",
        "z": "3b731280de1d1041",
        "name": "TrafficLights1_1 Yellow on",
        "robot_name": "TrafficLights1_1",
        "N": "0",
        "X": "0",
        "Y": "0",
        "T": "0",
        "G": "0",
        "V": "0",
        "D0": "0",
        "L1": "0",
        "L2": "1",
        "L3": "0",
        "L4": "0",
        "P": "0",
        "Text": "",
        "x": 290,
        "y": 120,
        "wires": [
            [
                "9f38653d84312614"
            ]
        ]
    },
    {
        "id": "9f38653d84312614",
        "type": "IOT Send",
        "z": "3b731280de1d1041",
        "name": "",
        "x": 480,
        "y": 120,
        "wires": []
    },
    {
        "id": "700d435c782d806f",
        "type": "IOT Function",
        "z": "3b731280de1d1041",
        "name": "TrafficLights1_1 Green on",
        "robot_name": "TrafficLights1_1",
        "N": "0",
        "X": "0",
        "Y": "0",
        "T": "0",
        "G": "0",
        "V": "0",
        "D0": "0",
        "L1": "0",
        "L2": "0",
        "L3": "1",
        "L4": "0",
        "P": "0",
        "Text": "",
        "x": 290,
        "y": 160,
        "wires": [
            [
                "9ce86838ec056d25"
            ]
        ]
    },
    {
        "id": "9ce86838ec056d25",
        "type": "IOT Send",
        "z": "3b731280de1d1041",
        "name": "",
        "x": 480,
        "y": 160,
        "wires": []
    },
    {
        "id": "445a83e1964b4ff8",
        "type": "IOT Function",
        "z": "3b731280de1d1041",
        "name": "TrafficLights1_1 Blue on",
        "robot_name": "TrafficLights1_1",
        "N": "0",
        "X": "0",
        "Y": "0",
        "T": "0",
        "G": "0",
        "V": "0",
        "D0": "0",
        "L1": "0",
        "L2": "0",
        "L3": "0",
        "L4": "1",
        "P": "0",
        "Text": "",
        "x": 290,
        "y": 200,
        "wires": [
            [
                "e16131fd6ad4b244"
            ]
        ]
    },
    {
        "id": "e16131fd6ad4b244",
        "type": "IOT Send",
        "z": "3b731280de1d1041",
        "name": "",
        "x": 480,
        "y": 200,
        "wires": []
    },
    {
        "id": "cefec99133df029a",
        "type": "inject",
        "z": "3b731280de1d1041",
        "name": "Button",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 260,
        "wires": [
            [
                "7ad5491e79e7519f"
            ]
        ]
    },
    {
        "id": "7ad5491e79e7519f",
        "type": "IOT Function",
        "z": "3b731280de1d1041",
        "name": "TrafficLights1_1 LED off",
        "robot_name": "TrafficLights1_1",
        "N": "0",
        "X": "0",
        "Y": "0",
        "T": "0",
        "G": "0",
        "V": "0",
        "D0": "0",
        "L1": "0",
        "L2": "0",
        "L3": "0",
        "L4": "0",
        "P": "0",
        "Text": "",
        "x": 290,
        "y": 260,
        "wires": [
            [
                "99ddc0b0d8ee1648"
            ]
        ]
    },
    {
        "id": "99ddc0b0d8ee1648",
        "type": "IOT Send",
        "z": "3b731280de1d1041",
        "name": "",
        "x": 480,
        "y": 260,
        "wires": []
    }
]