node-red/.flows.json.backup
[
    {
        "id": "c2899e0a7794b420",
        "type": "tab",
        "label": "Data",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "2e7a746435651752",
        "type": "tab",
        "label": "Monitoring",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "08972a8227e69f46",
        "type": "tab",
        "label": "Control",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "0db56204ee20180e",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#773078",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "reset": false
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Дэшборд",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "true",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "179c78f9b0236523",
        "type": "ui_group",
        "name": "Motor",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "bbe64981d2d61740",
        "type": "ui_group",
        "name": "Table",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": 30,
        "collapse": false,
        "className": ""
    },
    {
        "id": "fe5649615357df6a",
        "type": "ui_group",
        "name": "Table",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "30",
        "collapse": false,
        "className": ""
    },
    {
        "id": "b852b2f0ea5468f5",
        "type": "ui_group",
        "name": "Robot 1 Load",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": 13,
        "collapse": false,
        "className": ""
    },
    {
        "id": "bb676c794922defe",
        "type": "ui_group",
        "name": "Robot 1 Motors",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "26242c89e093eda8",
        "type": "ui_group",
        "name": "Robot 1",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "4ad0ca5f63196c38",
        "type": "ui_group",
        "name": "Robot 2",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "571a38b1.5e3638",
        "type": "ui_group",
        "name": "Richer Table",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "8",
        "collapse": false
    },
    {
        "id": "141c0df2ae71b1e9",
        "type": "ui_group",
        "name": "Default",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "30",
        "collapse": false,
        "className": ""
    },
    {
        "id": "af01fb4d6f9064fc",
        "type": "MySQLdatabase",
        "name": "",
        "host": "172.16.0.89",
        "port": "8888",
        "db": "Device",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "51ce6aa1.620754",
        "type": "ui_group",
        "name": "ui_control",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "22",
        "collapse": false
    },
    {
        "id": "625872f.40b1e8c",
        "type": "ui_group",
        "name": "Default",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "d4b80f060233293a",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": 6
    },
    {
        "id": "83b8a8508a9b66ba",
        "type": "ui_group",
        "name": "Robot 2 Motors",
        "tab": "",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "62ffe78fb8e5dc34",
        "type": "ui_group",
        "name": "Robot 2 Load",
        "tab": "",
        "order": 4,
        "disp": true,
        "width": 13,
        "collapse": false,
        "className": ""
    },
    {
        "id": "5ba311ed9ef44c31",
        "type": "ui_group",
        "name": "Мониторинг",
        "tab": "",
        "order": 9,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "11e11196de99f2e6",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": 6
    },
    {
        "id": "4983803d4416cdc6",
        "type": "ui_group",
        "name": "Настройки",
        "tab": "",
        "order": 10,
        "disp": true,
        "width": 12,
        "collapse": false,
        "className": ""
    },
    {
        "id": "be207fdb611e54bc",
        "type": "ui_group",
        "name": "Терминал",
        "tab": "",
        "order": 11,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "84fc9e1e23b00902",
        "type": "ui_group",
        "name": "Raw Motors",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": 3,
        "collapse": false,
        "className": ""
    },
    {
        "id": "4863af8c9b0bc051",
        "type": "ui_group",
        "name": "Motors",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": 3,
        "collapse": false,
        "className": ""
    },
    {
        "id": "53612cabdd4d603c",
        "type": "ui_group",
        "name": "Load Status",
        "tab": "",
        "order": 6,
        "disp": true,
        "width": 1,
        "collapse": false,
        "className": ""
    },
    {
        "id": "632fd0842d7cf8b1",
        "type": "ui_group",
        "name": "Raw Load",
        "tab": "",
        "order": 4,
        "disp": true,
        "width": 3,
        "collapse": false,
        "className": ""
    },
    {
        "id": "7049b5ae23159efb",
        "type": "ui_group",
        "name": "Load",
        "tab": "",
        "order": 5,
        "disp": true,
        "width": 3,
        "collapse": false,
        "className": ""
    },
    {
        "id": "27883670a192734f",
        "type": "ui_group",
        "name": "Temp",
        "tab": "",
        "order": 7,
        "disp": true,
        "width": 3,
        "collapse": false,
        "className": ""
    },
    {
        "id": "4a09332c08c2f5b3",
        "type": "ui_group",
        "name": "Temp Status",
        "tab": "",
        "order": 8,
        "disp": true,
        "width": 1,
        "collapse": false,
        "className": ""
    },
    {
        "id": "42646fbec66b7a63",
        "type": "ui_group",
        "name": "Motors Status",
        "tab": "",
        "order": 3,
        "disp": true,
        "width": 3,
        "collapse": false,
        "className": ""
    },
    {
        "id": "f93e5670e3f24149",
        "type": "ui_tab",
        "name": "Дэшборд инженера-технолога",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "a1d6d4c56a07fd97",
        "type": "ui_group",
        "name": "Raw Motors",
        "tab": "f93e5670e3f24149",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d272ad6f92f0f1d9",
        "type": "ui_group",
        "name": "Raw Load",
        "tab": "f93e5670e3f24149",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "062a81d9e8e45c77",
        "type": "ui_group",
        "name": "Load",
        "tab": "f93e5670e3f24149",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "b52e3aa09c1ab7fb",
        "type": "ui_group",
        "name": "Temp",
        "tab": "f93e5670e3f24149",
        "order": 6,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "3b12922eaf46b03d",
        "type": "ui_group",
        "name": "Temp Status",
        "tab": "f93e5670e3f24149",
        "order": 7,
        "disp": true,
        "width": 3,
        "collapse": false,
        "className": ""
    },
    {
        "id": "f01739839b13121f",
        "type": "ui_group",
        "name": "Motors",
        "tab": "f93e5670e3f24149",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "267243152ab9c751",
        "type": "ui_group",
        "name": "Load Status",
        "tab": "f93e5670e3f24149",
        "order": 5,
        "disp": true,
        "width": 3,
        "collapse": false,
        "className": ""
    },
    {
        "id": "039404edb6747c97",
        "type": "ui_group",
        "name": "Мониторинг",
        "tab": "f93e5670e3f24149",
        "order": 8,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f0333f1ae6948c46",
        "type": "ui_group",
        "name": "Настройки",
        "tab": "f93e5670e3f24149",
        "order": 9,
        "disp": true,
        "width": 10,
        "collapse": false,
        "className": ""
    },
    {
        "id": "c69a9e20b4fcf45a",
        "type": "ui_group",
        "name": "Терминал",
        "tab": "f93e5670e3f24149",
        "order": 10,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "cbcfc83f9d627922",
        "type": "ui_tab",
        "name": "Дэшборд оператора",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "ee74c07fb986bb59",
        "type": "ui_group",
        "name": "Управление",
        "tab": "cbcfc83f9d627922",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "c32d0cee4dd9f50e",
        "type": "ui_group",
        "name": "Настройки",
        "tab": "cbcfc83f9d627922",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "e823cd2759eae34c",
        "type": "ui_group",
        "name": "Терминал",
        "tab": "cbcfc83f9d627922",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "ff5253f2ac0c9362",
        "type": "ui_group",
        "name": "Лампы",
        "tab": "cbcfc83f9d627922",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "b69a8423905d7321",
        "type": "IOT Get",
        "z": "c2899e0a7794b420",
        "name": "",
        "x": 170,
        "y": 200,
        "wires": [
            [
                "9b0d9e9a30c667b9"
            ]
        ]
    },
    {
        "id": "9b0d9e9a30c667b9",
        "type": "function",
        "z": "c2899e0a7794b420",
        "name": "Get Data",
        "func": "var thing = msg.payload;\n\nif (thing.name == \"Robot1_1\") {\n    global.set(\"motors_R1\", {\n        \"m1\": thing.m1,\n        \"m2\": thing.m2,\n        \"m3\": thing.m3,\n        \"m4\": thing.m4,\n        \"m5\": thing.m5,\n        \"m6\": thing.m6\n    });\n    global.set(\"load_R1\", {\n        \"l1\": thing.l1,\n        \"l2\": thing.l2,\n        \"l3\": thing.l3,\n        \"l4\": thing.l4,\n        \"l5\": thing.l5,\n        \"l6\": thing.l6\n    });\n    global.set(\"temp_R1\", {\n        \"t1\": thing.t1,\n        \"t2\": thing.t2,\n        \"t3\": thing.t3,\n        \"t4\": thing.t4,\n        \"t5\": thing.t5,\n        \"t6\": thing.t6\n    });\n    global.set(\"s_R1\", thing.s);\n    global.set(\"n_R1\", thing.n);\n\n}\nif (thing.name == \"Robot1_2\") {\n    global.set(\"motors_R2\", {\n        \"m1\": thing.m1,\n        \"m2\": thing.m2,\n        \"m3\": thing.m3,\n        \"m4\": thing.m4,\n        \"m5\": thing.m5,\n        \"m6\": thing.m6\n    });\n    global.set(\"load_R2\", {\n        \"l1\": thing.l1,\n        \"l2\": thing.l2,\n        \"l3\": thing.l3,\n        \"l4\": thing.l4,\n        \"l5\": thing.l5,\n        \"l6\": thing.l6\n    });\n    global.set(\"temp_R2\", {\n        \"t1\": thing.t1,\n        \"t2\": thing.t2,\n        \"t3\": thing.t3,\n        \"t4\": thing.t4,\n        \"t5\": thing.t5,\n        \"t6\": thing.t6\n    });\n    global.set(\"s_R2\", thing.s);\n    global.set(\"n_R2\", thing.n);\n}\nif (thing.name == \"WorkshiftTerminal1\") {\n    global.set(\"terminal\", {\n        \"p\": thing.p,\n        \"b1\": thing.b1,\n        \"b2\": thing.b2,\n        \"b3\": thing.b3\n    });\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 200,
        "wires": [
            [
                "ad711aae888dc5a5"
            ]
        ]
    },
    {
        "id": "ad711aae888dc5a5",
        "type": "debug",
        "z": "c2899e0a7794b420",
        "name": "debug 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 200,
        "wires": []
    },
    {
        "id": "ad00647f060b5e98",
        "type": "ui_button",
        "z": "c2899e0a7794b420",
        "name": "Reset",
        "group": "039404edb6747c97",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Инициализация Значений",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 170,
        "y": 280,
        "wires": [
            [
                "39023b62b1ea3518"
            ]
        ]
    },
    {
        "id": "39023b62b1ea3518",
        "type": "function",
        "z": "c2899e0a7794b420",
        "name": "Set Default",
        "func": "global.set(\"output_R1\", {\n    \"Robot_name\": \"Robot1_1\",\n    \"N\": \"0\",\n    \"X\": \"150\",\n    \"Y\": \"150\",\n    \"T\": \"0\",\n    \"G\": \"200\",\n    \"V\": \"0\",\n    \"L0\": \"0\",\n    \"L1\": \"0\",\n    \"L2\": \"0\",\n    \"L3\": \"0\",\n    \"L4\": \"0\",\n    \"P\": \"0\"\n});\n\nglobal.set(\"output_R2\", {\n    \"Robot_name\": \"Robot1_2\",\n    \"N\": \"0\",\n    \"X\": \"150\",\n    \"Y\": \"150\",\n    \"T\": \"0\",\n    \"G\": \"200\",\n    \"V\": \"0\",\n    \"L0\": \"0\",\n    \"L1\": \"0\",\n    \"L2\": \"0\",\n    \"L3\": \"0\",\n    \"L4\": \"0\",\n    \"P\": \"0\"\n});\n\nglobal.set(\"output_L1\", {\n    \"Robot_name\": \"TrafficLights1_1\",\n    \"N\": \"0\",\n    \"X\": \"150\",\n    \"Y\": \"150\",\n    \"T\": \"0\",\n    \"G\": \"200\",\n    \"V\": \"0\",\n    \"L0\": \"0\",\n    \"L1\": \"0\",\n    \"L2\": \"0\",\n    \"L3\": \"0\",\n    \"L4\": \"0\",\n    \"P\": \"0\"\n});\n\nglobal.set(\"output_L2\", {\n    \"Robot_name\": \"TrafficLights1_2\",\n    \"N\": \"0\",\n    \"X\": \"150\",\n    \"Y\": \"150\",\n    \"T\": \"0\",\n    \"G\": \"200\",\n    \"V\": \"0\",\n    \"L0\": \"0\",\n    \"L1\": \"0\",\n    \"L2\": \"0\",\n    \"L3\": \"0\",\n    \"L4\": \"0\",\n    \"P\": \"0\"\n});\n\nglobal.set(\"selected_robot\", 1);\nglobal.set(\"configured_robot\", 1);\nglobal.set(\"selected_limit\", \"loadProcMin\");\n\nglobal.set(\"lamp_mode\", \"auto\");\nglobal.set(\"robot_status_R1\", \"waiting\");\nglobal.set(\"robot_status_R2\", \"waiting\");\nglobal.set(\"lamp_color_L1\", \"green\");\nglobal.set(\"lamp_color_L2\", \"green\");\n\nglobal.set(\"loadProcMin_R1\", {\n    \"m1\": 5,\n    \"m2\": 5,\n    \"m3\": 5,\n    \"m4\": 5,\n    \"m5\": 5,\n    \"m6\": 5\n});\nglobal.set(\"loadProcCritMin_R1\", {\n    \"m1\": 20,\n    \"m2\": 20,\n    \"m3\": 20,\n    \"m4\": 20,\n    \"m5\": 20,\n    \"m6\": 20\n});\nglobal.set(\"loadProcCritMax_R1\", {\n    \"m1\": 80,\n    \"m2\": 80,\n    \"m3\": 80,\n    \"m4\": 80,\n    \"m5\": 80,\n    \"m6\": 80\n});\nglobal.set(\"loadProcMax_R1\", {\n    \"m1\": 95,\n    \"m2\": 95,\n    \"m3\": 95,\n    \"m4\": 95,\n    \"m5\": 95,\n    \"m6\": 95\n});\nglobal.set(\"tempMin_R1\", {\n    \"m1\": 5,\n    \"m2\": 5,\n    \"m3\": 5,\n    \"m4\": 5,\n    \"m5\": 5,\n    \"m6\": 5\n});\nglobal.set(\"tempCritMin_R1\", {\n    \"m1\": 15,\n    \"m2\": 15,\n    \"m3\": 15,\n    \"m4\": 15,\n    \"m5\": 15,\n    \"m6\": 15\n});\nglobal.set(\"tempCritMax_R1\", {\n    \"m1\": 85,\n    \"m2\": 85,\n    \"m3\": 85,\n    \"m4\": 85,\n    \"m5\": 85,\n    \"m6\": 85\n});\nglobal.set(\"tempMax_R1\", {\n    \"m1\": 95,\n    \"m2\": 95,\n    \"m3\": 95,\n    \"m4\": 95,\n    \"m5\": 95,\n    \"m6\": 95\n});\nglobal.set(\"loadProcMin_R2\", {\n    \"m1\": 5,\n    \"m2\": 5,\n    \"m3\": 5,\n    \"m4\": 5,\n    \"m5\": 5,\n    \"m6\": 5\n});\nglobal.set(\"loadProcCritMin_R2\", {\n    \"m1\": 20,\n    \"m2\": 20,\n    \"m3\": 20,\n    \"m4\": 20,\n    \"m5\": 20,\n    \"m6\": 20\n});\nglobal.set(\"loadProcCritMax_R2\", {\n    \"m1\": 80,\n    \"m2\": 80,\n    \"m3\": 80,\n    \"m4\": 80,\n    \"m5\": 80,\n    \"m6\": 80\n});\nglobal.set(\"loadProcMax_R2\", {\n    \"m1\": 95,\n    \"m2\": 95,\n    \"m3\": 95,\n    \"m4\": 95,\n    \"m5\": 95,\n    \"m6\": 95\n});\nglobal.set(\"tempMin_R2\", {\n    \"m1\": 5,\n    \"m2\": 5,\n    \"m3\": 5,\n    \"m4\": 5,\n    \"m5\": 5,\n    \"m6\": 5\n});\nglobal.set(\"tempCritMin_R2\", {\n    \"m1\": 15,\n    \"m2\": 15,\n    \"m3\": 15,\n    \"m4\": 15,\n    \"m5\": 15,\n    \"m6\": 15\n});\nglobal.set(\"tempCritMax_R2\", {\n    \"m1\": 85,\n    \"m2\": 85,\n    \"m3\": 85,\n    \"m4\": 85,\n    \"m5\": 85,\n    \"m6\": 85\n});\nglobal.set(\"tempMax_R2\", {\n    \"m1\": 95,\n    \"m2\": 95,\n    \"m3\": 95,\n    \"m4\": 95,\n    \"m5\": 95,\n    \"m6\": 95\n});\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "7bbdce8887f5c38c",
        "type": "IOT Function",
        "z": "c2899e0a7794b420",
        "name": "",
        "robot_name": "",
        "N": "0",
        "X": "0",
        "Y": "0",
        "T": "0",
        "G": "0",
        "V": "0",
        "D0": "0",
        "L1": "0",
        "L2": "0",
        "L3": "0",
        "L4": "0",
        "P": "0",
        "Text": "",
        "x": 930,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "4fe170ed26108b95",
        "type": "inject",
        "z": "c2899e0a7794b420",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 340,
        "wires": [
            [
                "39023b62b1ea3518"
            ]
        ]
    },
    {
        "id": "35a718e0b6f976d2",
        "type": "inject",
        "z": "2e7a746435651752",
        "name": "Update Robot",
        "props": [],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 160,
        "y": 240,
        "wires": [
            [
                "3d8722c536fb8bf6",
                "1e6bbd378c3c9301",
                "9dd5537d66bf9e87",
                "54c3876520731590",
                "2453caf9079996cc"
            ]
        ]
    },
    {
        "id": "3d8722c536fb8bf6",
        "type": "function",
        "z": "2e7a746435651752",
        "name": "Raw Motors",
        "func": "if (global.get(\"selected_robot\") == 1) {\n    var motors = global.get(\"motors_R1\");\n} else if (global.get(\"selected_robot\") == 2) {\n    var motors = global.get(\"motors_R2\");\n}\n\nmsg.payload = motors;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 80,
        "wires": [
            [
                "b845ac5989cb3db5"
            ]
        ]
    },
    {
        "id": "1e6bbd378c3c9301",
        "type": "function",
        "z": "2e7a746435651752",
        "name": "Clean Motors",
        "func": "if (global.get(\"selected_robot\") == 1) {\n    var motors = global.get(\"motors_R1\");\n} else if (global.get(\"selected_robot\") == 2) {\n    var motors = global.get(\"motors_R2\");\n}\n\nvar motorsGrad = {}\nvar c = 1;\nfor (var [key, value] of Object.entries(motors)) {\n    if (c <= 4) {\n        motorsGrad[key] = Math.round(value / 4096 * 360);\n    } else {\n        motorsGrad[key] = Math.round(value / 2048 * 360);\n    }\n    c++;\n}\n\nmsg.payload = motorsGrad;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 140,
        "wires": [
            [
                "2991cea35b37d747"
            ]
        ]
    },
    {
        "id": "9dd5537d66bf9e87",
        "type": "function",
        "z": "2e7a746435651752",
        "name": "Raw Load",
        "func": "if (global.get(\"selected_robot\") == 1) {\n    var load = global.get(\"load_R1\");\n} else if (global.get(\"selected_robot\") == 2) {\n    var load = global.get(\"load_R2\");\n}\n\nmsg.payload = load;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 200,
        "wires": [
            [
                "f853811e4ccc31cc"
            ]
        ]
    },
    {
        "id": "54c3876520731590",
        "type": "function",
        "z": "2e7a746435651752",
        "name": "Clean Load",
        "func": "if (global.get(\"selected_robot\") == 1) {\n    var load = global.get(\"load_R1\");\n} else if (global.get(\"selected_robot\") == 2) {\n    var load = global.get(\"load_R2\");\n}\n\nvar loadProc = {}\nfor (var [key, value] of Object.entries(load)) {\n    if (value <= 1024) {\n        loadProc[key] = Math.round(value / 1024 * 100);\n    } else {\n        loadProc[key] = Math.round((value - 1024) / 1024 * 100);\n    }\n}\n\nmsg.payload = loadProc;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 260,
        "wires": [
            [
                "1f78a6817150fd99",
                "bf053afd95bef829"
            ]
        ]
    },
    {
        "id": "2453caf9079996cc",
        "type": "function",
        "z": "2e7a746435651752",
        "name": "Temp",
        "func": "if (global.get(\"selected_robot\") == 1) {\n    var temp = global.get(\"temp_R1\");\n} else if (global.get(\"selected_robot\") == 2) {\n    var temp = global.get(\"temp_R2\");\n}\n\nmsg.payload = temp;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 420,
        "wires": [
            [
                "e63065d5723f5eeb",
                "d4e8a7c3196d2d34"
            ]
        ]
    },
    {
        "id": "bf053afd95bef829",
        "type": "function",
        "z": "2e7a746435651752",
        "name": "Status",
        "func": "if (global.get(\"selected_robot\") == 1) {\n    var r = \"_R1\";\n} else if (global.get(\"selected_robot\") == 2) {\n    var r = \"_R2\";\n}\n\nvar load = msg.payload;\nvar status = [];\n\nvar i = 0;\nfor (var [key, value] of Object.entries(load)) {\n    var key_ = Object.keys(global.get(\"loadProcMin\" + r))[i];\n    if (value < global.get(\"loadProcMin\" + r)[key_]) {\n        status[i] = {payload: 2};\n    } else if (value > global.get(\"loadProcMax\" + r)[key_]) {\n        status[i] = {payload: 2};\n    } else if (value < global.get(\"loadProcCritMin\" + r)[key_]) {\n        status[i] = {payload: 1};\n    } else if (value > global.get(\"loadProcCritMax\" + r)[key_]) {\n        status[i] = {payload: 1};\n    } else {\n        status[i] = {payload: 0};\n    }\n    i++;\n}\n\nreturn status;",
        "outputs": 6,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 340,
        "wires": [
            [
                "cec0c7e3c320df20"
            ],
            [
                "ccd65dd59988a169"
            ],
            [
                "a1c2e31f9fc82f26"
            ],
            [
                "d106aea6f6aa8835"
            ],
            [
                "cd2179c26b4e6550"
            ],
            [
                "a2ccbefe1a6221d1"
            ]
        ]
    },
    {
        "id": "b845ac5989cb3db5",
        "type": "ui_form",
        "z": "2e7a746435651752",
        "name": "Motors",
        "label": "",
        "group": "a1d6d4c56a07fd97",
        "order": 1,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "motor 1",
                "value": "m1",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "motor 2",
                "value": "m2",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "motor 3",
                "value": "m3",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "motor 4",
                "value": "m4",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "motor 5",
                "value": "m5",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "motor 6",
                "value": "m6",
                "type": "number",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "m1": "",
            "m2": "",
            "m3": "",
            "m4": "",
            "m5": "",
            "m6": ""
        },
        "payload": "",
        "submit": "",
        "cancel": "",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 590,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "f853811e4ccc31cc",
        "type": "ui_form",
        "z": "2e7a746435651752",
        "name": "Load",
        "label": "",
        "group": "d272ad6f92f0f1d9",
        "order": 1,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "motor 1",
                "value": "l1",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "motor 2",
                "value": "l2",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "motor 3",
                "value": "l3",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "motor 4",
                "value": "l4",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "motor 5",
                "value": "l5",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "motor 6",
                "value": "l6",
                "type": "number",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "l1": "",
            "l2": "",
            "l3": "",
            "l4": "",
            "l5": "",
            "l6": ""
        },
        "payload": "",
        "submit": "",
        "cancel": "",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 590,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "e63065d5723f5eeb",
        "type": "ui_form",
        "z": "2e7a746435651752",
        "name": "Temp",
        "label": "",
        "group": "b52e3aa09c1ab7fb",
        "order": 1,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "motor 1",
                "value": "t1",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "motor 2",
                "value": "t2",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "motor 3",
                "value": "t3",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "motor 4",
                "value": "t4",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "motor 5",
                "value": "t5",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "motor 6",
                "value": "t6",
                "type": "number",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "t1": "",
            "t2": "",
            "t3": "",
            "t4": "",
            "t5": "",
            "t6": ""
        },
        "payload": "",
        "submit": "",
        "cancel": "",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 590,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "2991cea35b37d747",
        "type": "ui_form",
        "z": "2e7a746435651752",
        "name": "Motors",
        "label": "",
        "group": "f01739839b13121f",
        "order": 1,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "motor 1",
                "value": "m1",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "motor 2",
                "value": "m2",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "motor 3",
                "value": "m3",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "motor 4",
                "value": "m4",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "motor 5",
                "value": "m5",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "motor 6",
                "value": "m6",
                "type": "number",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "m1": "",
            "m2": "",
            "m3": "",
            "m4": "",
            "m5": "",
            "m6": ""
        },
        "payload": "",
        "submit": "",
        "cancel": "",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 590,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "1f78a6817150fd99",
        "type": "ui_form",
        "z": "2e7a746435651752",
        "name": "Load",
        "label": "",
        "group": "062a81d9e8e45c77",
        "order": 1,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "motor 1",
                "value": "l1",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "motor 2",
                "value": "l2",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "motor 3",
                "value": "l3",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "motor 4",
                "value": "l4",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "motor 5",
                "value": "l5",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "motor 6",
                "value": "l6",
                "type": "number",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "l1": "",
            "l2": "",
            "l3": "",
            "l4": "",
            "l5": "",
            "l6": ""
        },
        "payload": "",
        "submit": "",
        "cancel": "",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 590,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "4c7d7147dc24df10",
        "type": "ui_dropdown",
        "z": "2e7a746435651752",
        "name": "Select Robot",
        "label": "Робот",
        "tooltip": "",
        "place": "Select option",
        "group": "039404edb6747c97",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "Робот 1",
                "value": 1,
                "type": "num"
            },
            {
                "label": "Робот 2",
                "value": 2,
                "type": "num"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 130,
        "y": 740,
        "wires": [
            [
                "e471d30e58b7a9ae"
            ]
        ]
    },
    {
        "id": "e471d30e58b7a9ae",
        "type": "function",
        "z": "2e7a746435651752",
        "name": "Set Robot",
        "func": "global.set(\"selected_robot\", msg.payload);\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "53d7e074544c8e1c",
        "type": "ui_dropdown",
        "z": "2e7a746435651752",
        "name": "Select Limit",
        "label": "Выбор значений",
        "tooltip": "",
        "place": "Select option",
        "group": "f0333f1ae6948c46",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "Нагрузка Минимально Допустимая",
                "value": "loadProcMin",
                "type": "str"
            },
            {
                "label": "Нагрузка Минимально Критическая",
                "value": "loadProcCritMin",
                "type": "str"
            },
            {
                "label": "Нагрузка Минимально Критическая",
                "value": "loadProcCritMax",
                "type": "str"
            },
            {
                "label": "Нагрузка Максимально Допустимая",
                "value": "loadProcMax",
                "type": "str"
            },
            {
                "label": "Температура Минимально Допустимая",
                "value": "tempMin",
                "type": "str"
            },
            {
                "label": "Температура Минимально Критическая",
                "value": "tempCritMin",
                "type": "str"
            },
            {
                "label": "Температура Минимально Критическая",
                "value": "tempCritMax",
                "type": "str"
            },
            {
                "label": "Температура Максимально Допустимая",
                "value": "tempMax",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 130,
        "y": 800,
        "wires": [
            [
                "470f94ed6628e02b"
            ]
        ]
    },
    {
        "id": "470f94ed6628e02b",
        "type": "function",
        "z": "2e7a746435651752",
        "name": "Set Limit",
        "func": "global.set(\"selected_limit\", msg.payload);\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 800,
        "wires": [
            []
        ]
    },
    {
        "id": "cec0c7e3c320df20",
        "type": "ui_led",
        "z": "2e7a746435651752",
        "order": 1,
        "group": "267243152ab9c751",
        "width": 0,
        "height": 0,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "2",
                "valueType": "num"
            },
            {
                "color": "#ffff00",
                "value": "1",
                "valueType": "num"
            },
            {
                "color": "#008000",
                "value": "0",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showGlow": true,
        "name": "CL1",
        "x": 790,
        "y": 160,
        "wires": []
    },
    {
        "id": "40873acebbde4c8f",
        "type": "inject",
        "z": "2e7a746435651752",
        "name": "Update Limit",
        "props": [],
        "repeat": "0.1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 160,
        "y": 860,
        "wires": [
            [
                "f355b5e1b752e6bc"
            ]
        ]
    },
    {
        "id": "f355b5e1b752e6bc",
        "type": "function",
        "z": "2e7a746435651752",
        "name": "Update Limit",
        "func": "if (global.get(\"selected_robot\") == 1) {\n    var limit = global.get(\"selected_limit\") + \"_R1\";\n} else if (global.get(\"selected_robot\") == 2) {\n    var limit = global.get(\"selected_limit\") + \"_R2\";\n}\n\nmsg.payload = global.get(limit);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 860,
        "wires": [
            [
                "8f64257347803d2b"
            ]
        ]
    },
    {
        "id": "8f64257347803d2b",
        "type": "ui_form",
        "z": "2e7a746435651752",
        "name": "Limits",
        "label": "Ограничения",
        "group": "f0333f1ae6948c46",
        "order": 2,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Motor 1",
                "value": "m1",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Motor 2",
                "value": "m2",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Motor 3",
                "value": "m3",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Motor 4",
                "value": "m4",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Motor 5",
                "value": "m5",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Motor 6",
                "value": "m6",
                "type": "number",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "m1": "",
            "m2": "",
            "m3": "",
            "m4": "",
            "m5": "",
            "m6": ""
        },
        "payload": "",
        "submit": "Применить",
        "cancel": "",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 130,
        "y": 920,
        "wires": [
            [
                "ae4306d835434ca7"
            ]
        ]
    },
    {
        "id": "ae4306d835434ca7",
        "type": "function",
        "z": "2e7a746435651752",
        "name": "Set Limit",
        "func": "if (global.get(\"selected_robot\") == 1) {\n    var limit = global.get(\"selected_limit\") + \"_R1\";\n} else if (global.get(\"selected_robot\") == 2) {\n    var limit = global.get(\"selected_limit\") + \"_R2\";\n}\n\nglobal.set(limit, msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 920,
        "wires": [
            []
        ]
    },
    {
        "id": "d4e8a7c3196d2d34",
        "type": "function",
        "z": "2e7a746435651752",
        "name": "Status",
        "func": "if (global.get(\"selected_robot\") == 1) {\n    var r = \"_R1\";\n} else if (global.get(\"selected_robot\") == 2) {\n    var r = \"_R2\";\n}\n\nvar temp = msg.payload;\nvar status = [];\n\nvar i = 0;\nfor (var [key, value] of Object.entries(temp)) {\n    var key_ = Object.keys(global.get(\"tempMin\" + r))[i];\n    if (value < global.get(\"tempMin\" + r)[key_]) {\n        status[i] = {payload: 2};\n    } else if (value > global.get(\"tempMax\" + r)[key_]) {\n        status[i] = {payload: 2};\n    } else if (value < global.get(\"tempCritMin\" + r)[key_]) {\n        status[i] = {payload: 1};\n    } else if (value > global.get(\"tempCritMax\" + r)[key_]) {\n        status[i] = {payload: 1};\n    } else {\n        status[i] = {payload: 0};\n    }\n    i++;\n}\n\nreturn status;",
        "outputs": 6,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 520,
        "wires": [
            [
                "43bfb8ebb5c4fe56"
            ],
            [
                "32bc801d567b568f"
            ],
            [
                "d2e0c57cc4eeba57"
            ],
            [
                "7219cd1d6e846226"
            ],
            [
                "60e5f95f008ad5b2"
            ],
            [
                "f1b23e39a763a849"
            ]
        ]
    },
    {
        "id": "43bfb8ebb5c4fe56",
        "type": "ui_led",
        "z": "2e7a746435651752",
        "order": 1,
        "group": "3b12922eaf46b03d",
        "width": 0,
        "height": 0,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "2",
                "valueType": "num"
            },
            {
                "color": "#ffff00",
                "value": "1",
                "valueType": "num"
            },
            {
                "color": "#008000",
                "value": "0",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showGlow": true,
        "name": "T1",
        "x": 790,
        "y": 420,
        "wires": []
    },
    {
        "id": "3b176c36d65090a6",
        "type": "inject",
        "z": "2e7a746435651752",
        "name": "Update Terminal",
        "props": [],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 170,
        "y": 620,
        "wires": [
            [
                "2173699dc978c474"
            ]
        ]
    },
    {
        "id": "2173699dc978c474",
        "type": "ui_form",
        "z": "2e7a746435651752",
        "name": "Temp",
        "label": "",
        "group": "c69a9e20b4fcf45a",
        "order": 1,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "DeadManSwitch",
                "value": "p",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Button 1",
                "value": "b1",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Button 1",
                "value": "b1",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Button 1",
                "value": "b1",
                "type": "number",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "p": "",
            "b1": ""
        },
        "payload": "",
        "submit": "",
        "cancel": "",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 350,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "ccd65dd59988a169",
        "type": "ui_led",
        "z": "2e7a746435651752",
        "order": 2,
        "group": "267243152ab9c751",
        "width": 0,
        "height": 0,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "2",
                "valueType": "num"
            },
            {
                "color": "#ffff00",
                "value": "1",
                "valueType": "num"
            },
            {
                "color": "#008000",
                "value": "0",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showGlow": true,
        "name": "CL2",
        "x": 790,
        "y": 200,
        "wires": []
    },
    {
        "id": "a1c2e31f9fc82f26",
        "type": "ui_led",
        "z": "2e7a746435651752",
        "order": 3,
        "group": "267243152ab9c751",
        "width": 0,
        "height": 0,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "2",
                "valueType": "num"
            },
            {
                "color": "#ffff00",
                "value": "1",
                "valueType": "num"
            },
            {
                "color": "#008000",
                "value": "0",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showGlow": true,
        "name": "CL3",
        "x": 790,
        "y": 240,
        "wires": []
    },
    {
        "id": "d106aea6f6aa8835",
        "type": "ui_led",
        "z": "2e7a746435651752",
        "order": 4,
        "group": "267243152ab9c751",
        "width": 0,
        "height": 0,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "2",
                "valueType": "num"
            },
            {
                "color": "#ffff00",
                "value": "1",
                "valueType": "num"
            },
            {
                "color": "#008000",
                "value": "0",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showGlow": true,
        "name": "CL4",
        "x": 790,
        "y": 280,
        "wires": []
    },
    {
        "id": "cd2179c26b4e6550",
        "type": "ui_led",
        "z": "2e7a746435651752",
        "order": 5,
        "group": "267243152ab9c751",
        "width": 0,
        "height": 0,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "2",
                "valueType": "num"
            },
            {
                "color": "#ffff00",
                "value": "1",
                "valueType": "num"
            },
            {
                "color": "#008000",
                "value": "0",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showGlow": true,
        "name": "CL5",
        "x": 790,
        "y": 320,
        "wires": []
    },
    {
        "id": "a2ccbefe1a6221d1",
        "type": "ui_led",
        "z": "2e7a746435651752",
        "order": 6,
        "group": "267243152ab9c751",
        "width": 0,
        "height": 0,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "2",
                "valueType": "num"
            },
            {
                "color": "#ffff00",
                "value": "1",
                "valueType": "num"
            },
            {
                "color": "#008000",
                "value": "0",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showGlow": true,
        "name": "CL6",
        "x": 790,
        "y": 360,
        "wires": []
    },
    {
        "id": "32bc801d567b568f",
        "type": "ui_led",
        "z": "2e7a746435651752",
        "order": 2,
        "group": "3b12922eaf46b03d",
        "width": 0,
        "height": 0,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "2",
                "valueType": "num"
            },
            {
                "color": "#ffff00",
                "value": "1",
                "valueType": "num"
            },
            {
                "color": "#008000",
                "value": "0",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showGlow": true,
        "name": "T2",
        "x": 790,
        "y": 460,
        "wires": []
    },
    {
        "id": "d2e0c57cc4eeba57",
        "type": "ui_led",
        "z": "2e7a746435651752",
        "order": 3,
        "group": "3b12922eaf46b03d",
        "width": 0,
        "height": 0,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "2",
                "valueType": "num"
            },
            {
                "color": "#ffff00",
                "value": "1",
                "valueType": "num"
            },
            {
                "color": "#008000",
                "value": "0",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showGlow": true,
        "name": "T3",
        "x": 790,
        "y": 500,
        "wires": []
    },
    {
        "id": "7219cd1d6e846226",
        "type": "ui_led",
        "z": "2e7a746435651752",
        "order": 4,
        "group": "3b12922eaf46b03d",
        "width": 0,
        "height": 0,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "2",
                "valueType": "num"
            },
            {
                "color": "#ffff00",
                "value": "1",
                "valueType": "num"
            },
            {
                "color": "#008000",
                "value": "0",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showGlow": true,
        "name": "T4",
        "x": 790,
        "y": 540,
        "wires": []
    },
    {
        "id": "60e5f95f008ad5b2",
        "type": "ui_led",
        "z": "2e7a746435651752",
        "order": 5,
        "group": "3b12922eaf46b03d",
        "width": 0,
        "height": 0,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "2",
                "valueType": "num"
            },
            {
                "color": "#ffff00",
                "value": "1",
                "valueType": "num"
            },
            {
                "color": "#008000",
                "value": "0",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showGlow": true,
        "name": "T5",
        "x": 790,
        "y": 580,
        "wires": []
    },
    {
        "id": "f1b23e39a763a849",
        "type": "ui_led",
        "z": "2e7a746435651752",
        "order": 6,
        "group": "3b12922eaf46b03d",
        "width": 0,
        "height": 0,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "2",
                "valueType": "num"
            },
            {
                "color": "#ffff00",
                "value": "1",
                "valueType": "num"
            },
            {
                "color": "#008000",
                "value": "0",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showGlow": true,
        "name": "T6",
        "x": 790,
        "y": 620,
        "wires": []
    },
    {
        "id": "3f174d2b7edd840b",
        "type": "ui_dropdown",
        "z": "08972a8227e69f46",
        "name": "Select Robot",
        "label": "Робот",
        "tooltip": "",
        "place": "Select option",
        "group": "c32d0cee4dd9f50e",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "Робот 1",
                "value": 1,
                "type": "num"
            },
            {
                "label": "Робот 2",
                "value": 2,
                "type": "num"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 130,
        "y": 80,
        "wires": [
            [
                "1149663ed91dc579"
            ]
        ]
    },
    {
        "id": "1149663ed91dc579",
        "type": "function",
        "z": "08972a8227e69f46",
        "name": "Set Robot",
        "func": "global.set(\"configured_robot\", msg.payload);\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "a138e0916f4627a6",
        "type": "ui_switch",
        "z": "08972a8227e69f46",
        "name": "Lamp Mode Switch",
        "label": "Ручной режим ламп",
        "tooltip": "",
        "group": "ff5253f2ac0c9362",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "manual",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "auto",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 150,
        "y": 180,
        "wires": [
            [
                "57323c0b0a0d2810"
            ]
        ]
    },
    {
        "id": "57323c0b0a0d2810",
        "type": "function",
        "z": "08972a8227e69f46",
        "name": "Set Lamp Mode",
        "func": "global.set(\"lamp_mode\", msg.payload);\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "eb90ef4e5a57e600",
        "type": "inject",
        "z": "08972a8227e69f46",
        "name": "Update Lamp",
        "props": [],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 160,
        "y": 340,
        "wires": [
            [
                "62f4f05f3db9bed4"
            ]
        ]
    },
    {
        "id": "62f4f05f3db9bed4",
        "type": "function",
        "z": "08972a8227e69f46",
        "name": "Auto Set Lamp Color",
        "func": "if (global.get(\"lamp_mode\") == \"manual\"){\n    return msg;\n}\n\nfor (var L in [\"_L1\", \"_L2\"]) {\n    if (L == \"_L1\") {\n        var status = global.get(\"robot_status_R1\");\n    } else if ((L == \"_L2\")) {\n        var status = global.get(\"robot_status_R1\");\n    }\n\n    switch (status) {\n        case \"waiting\":\n            global.set(\"lamp_color\" + L, \"green\");\n            break;\n        case \"moving\":\n            global.set(\"lamp_color\" + L, \"blue\");\n            break;\n        case \"paused\":\n            global.set(\"lamp_color\" + L, \"yellow\");\n            break;\n        case \"locked\":\n            global.set(\"lamp_color\" + L, \"yellow\");\n            break;\n        case \"stopped\":\n            global.set(\"lamp_color\" + L, \"red\");\n            break;\n        default:\n            global.set(\"lamp_color\" + L, \"none\");\n            break;\n    }\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 340,
        "wires": [
            [
                "1bca6d0e13d5ae14"
            ]
        ]
    },
    {
        "id": "1bca6d0e13d5ae14",
        "type": "function",
        "z": "08972a8227e69f46",
        "name": "Update Lamp Color",
        "func": "for (var L in [\"_L1\", \"_L2\"]) {\n    var color = global.get(\"lamp_color\" + L);\n    var output = global.get(\"output\" + L);\n\n    switch (color) {\n        case \"blue\":\n            output[\"L1\"] = \"1\";\n            output[\"L2\"] = \"0\";\n            output[\"L3\"] = \"0\";\n            output[\"L4\"] = \"0\";\n            break;\n        case \"red\":\n            output[\"L1\"] = \"0\";\n            output[\"L2\"] = \"1\";\n            output[\"L3\"] = \"0\";\n            output[\"L4\"] = \"0\";\n            break;\n        case \"yellow\":\n            output[\"L1\"] = \"0\";\n            output[\"L2\"] = \"0\";\n            output[\"L3\"] = \"1\";\n            output[\"L4\"] = \"0\";\n            break;\n        case \"green\":\n            output[\"L1\"] = \"0\";\n            output[\"L2\"] = \"0\";\n            output[\"L3\"] = \"0\";\n            output[\"L4\"] = \"1\";\n            break;\n        case \"none\":\n            output[\"L1\"] = \"0\";\n            output[\"L2\"] = \"0\";\n            output[\"L3\"] = \"0\";\n            output[\"L4\"] = \"0\";\n            break;\n    }\n\n    global.set(\"output\" + L, output);\n}\n\nreturn [\n    {payload: global.get(\"output_L1\")},\n    {payload: global.get(\"output_L2\")}\n];",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 710,
        "y": 340,
        "wires": [
            [
                "ecbf911108a0627d"
            ],
            [
                "f67ec66673e3632c"
            ]
        ]
    },
    {
        "id": "ecbf911108a0627d",
        "type": "IOT Send",
        "z": "08972a8227e69f46",
        "name": "",
        "x": 940,
        "y": 320,
        "wires": []
    },
    {
        "id": "f67ec66673e3632c",
        "type": "IOT Send",
        "z": "08972a8227e69f46",
        "name": "",
        "x": 940,
        "y": 360,
        "wires": []
    },
    {
        "id": "06974439764543f7",
        "type": "ui_dropdown",
        "z": "08972a8227e69f46",
        "name": "Lamp 1 Config",
        "label": "Цвет Лампы 1",
        "tooltip": "",
        "place": "Select option",
        "group": "ff5253f2ac0c9362",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "Синий",
                "value": "blue",
                "type": "str"
            },
            {
                "label": "Красный",
                "value": "red",
                "type": "str"
            },
            {
                "label": "Желтый",
                "value": "yellow",
                "type": "str"
            },
            {
                "label": "Зеленый",
                "value": "green",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 140,
        "y": 420,
        "wires": [
            [
                "f65890bd3807803d"
            ]
        ]
    },
    {
        "id": "f65890bd3807803d",
        "type": "function",
        "z": "08972a8227e69f46",
        "name": "Set Lamp Color",
        "func": "if (global.get(\"lamp_mode\") == \"auto\"){\n    msg.payload = 0;\n    return msg;\n}\n\nglobal.set(\"lamp_color_L1\", msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 420,
        "wires": [
            [
                "06974439764543f7"
            ]
        ]
    },
    {
        "id": "a56f0ade768b75f7",
        "type": "ui_dropdown",
        "z": "08972a8227e69f46",
        "name": "Lamp 2 Config",
        "label": "Цвет Лампы 2",
        "tooltip": "",
        "place": "Select option",
        "group": "ff5253f2ac0c9362",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "Синий",
                "value": "blue",
                "type": "str"
            },
            {
                "label": "Красный",
                "value": "red",
                "type": "str"
            },
            {
                "label": "Желтый",
                "value": "yellow",
                "type": "str"
            },
            {
                "label": "Зеленый",
                "value": "green",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 140,
        "y": 500,
        "wires": [
            [
                "372ef8a042c92ece"
            ]
        ]
    },
    {
        "id": "372ef8a042c92ece",
        "type": "function",
        "z": "08972a8227e69f46",
        "name": "Set Lamp Color",
        "func": "if (global.get(\"lamp_mode\") == \"auto\"){\n    msg.payload = 0;\n    return msg;\n}\n\nglobal.set(\"lamp_color_L2\", msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 500,
        "wires": [
            [
                "a56f0ade768b75f7"
            ]
        ]
    }
]