node-red/.flows.json.backup
[
    {
        "id": "4a06fcdd722cb60d",
        "type": "tab",
        "label": "Get Data",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b5fc59b555f8beb6",
        "type": "tab",
        "label": "Monitoring",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "0db56204ee20180e",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#773078",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "reset": false
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Дэшборд",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "179c78f9b0236523",
        "type": "ui_group",
        "name": "Motor",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "bbe64981d2d61740",
        "type": "ui_group",
        "name": "Table",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": 30,
        "collapse": false,
        "className": ""
    },
    {
        "id": "fe5649615357df6a",
        "type": "ui_group",
        "name": "Table",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "30",
        "collapse": false,
        "className": ""
    },
    {
        "id": "b852b2f0ea5468f5",
        "type": "ui_group",
        "name": "Robot 1 Load",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": 13,
        "collapse": false,
        "className": ""
    },
    {
        "id": "bb676c794922defe",
        "type": "ui_group",
        "name": "Robot 1 Motors",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "26242c89e093eda8",
        "type": "ui_group",
        "name": "Robot 1",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "4ad0ca5f63196c38",
        "type": "ui_group",
        "name": "Robot 2",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "571a38b1.5e3638",
        "type": "ui_group",
        "name": "Richer Table",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "8",
        "collapse": false
    },
    {
        "id": "141c0df2ae71b1e9",
        "type": "ui_group",
        "name": "Default",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "30",
        "collapse": false,
        "className": ""
    },
    {
        "id": "af01fb4d6f9064fc",
        "type": "MySQLdatabase",
        "name": "",
        "host": "172.16.0.89",
        "port": "8888",
        "db": "Device",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "51ce6aa1.620754",
        "type": "ui_group",
        "name": "ui_control",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "22",
        "collapse": false
    },
    {
        "id": "625872f.40b1e8c",
        "type": "ui_group",
        "name": "Default",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "d4b80f060233293a",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": 6
    },
    {
        "id": "83b8a8508a9b66ba",
        "type": "ui_group",
        "name": "Robot 2 Motors",
        "tab": "",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "62ffe78fb8e5dc34",
        "type": "ui_group",
        "name": "Robot 2 Load",
        "tab": "",
        "order": 4,
        "disp": true,
        "width": 13,
        "collapse": false,
        "className": ""
    },
    {
        "id": "0bf48136a92eb76c",
        "type": "ui_tab",
        "name": "Инженер-технолог",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "5ba311ed9ef44c31",
        "type": "ui_group",
        "name": "Мониторинг",
        "tab": "0bf48136a92eb76c",
        "order": 9,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "11e11196de99f2e6",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": 6
    },
    {
        "id": "4983803d4416cdc6",
        "type": "ui_group",
        "name": "Настройки",
        "tab": "0bf48136a92eb76c",
        "order": 10,
        "disp": true,
        "width": 12,
        "collapse": false,
        "className": ""
    },
    {
        "id": "be207fdb611e54bc",
        "type": "ui_group",
        "name": "Терминал",
        "tab": "0bf48136a92eb76c",
        "order": 11,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "84fc9e1e23b00902",
        "type": "ui_group",
        "name": "Raw Motors",
        "tab": "0bf48136a92eb76c",
        "order": 1,
        "disp": true,
        "width": 3,
        "collapse": false,
        "className": ""
    },
    {
        "id": "4863af8c9b0bc051",
        "type": "ui_group",
        "name": "Motors",
        "tab": "0bf48136a92eb76c",
        "order": 2,
        "disp": true,
        "width": 3,
        "collapse": false,
        "className": ""
    },
    {
        "id": "53612cabdd4d603c",
        "type": "ui_group",
        "name": "Load Status",
        "tab": "0bf48136a92eb76c",
        "order": 6,
        "disp": true,
        "width": 1,
        "collapse": false,
        "className": ""
    },
    {
        "id": "632fd0842d7cf8b1",
        "type": "ui_group",
        "name": "Raw Load",
        "tab": "0bf48136a92eb76c",
        "order": 4,
        "disp": true,
        "width": 3,
        "collapse": false,
        "className": ""
    },
    {
        "id": "7049b5ae23159efb",
        "type": "ui_group",
        "name": "Load",
        "tab": "0bf48136a92eb76c",
        "order": 5,
        "disp": true,
        "width": 3,
        "collapse": false,
        "className": ""
    },
    {
        "id": "27883670a192734f",
        "type": "ui_group",
        "name": "Temp",
        "tab": "0bf48136a92eb76c",
        "order": 7,
        "disp": true,
        "width": 3,
        "collapse": false,
        "className": ""
    },
    {
        "id": "4a09332c08c2f5b3",
        "type": "ui_group",
        "name": "Temp Status",
        "tab": "0bf48136a92eb76c",
        "order": 8,
        "disp": true,
        "width": 1,
        "collapse": false,
        "className": ""
    },
    {
        "id": "42646fbec66b7a63",
        "type": "ui_group",
        "name": "Motors Status",
        "tab": "0bf48136a92eb76c",
        "order": 3,
        "disp": true,
        "width": 3,
        "collapse": false,
        "className": ""
    },
    {
        "id": "826c9c28962d47ed",
        "type": "ui_spacer",
        "z": "b5fc59b555f8beb6",
        "name": "spacer",
        "group": "42646fbec66b7a63",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "893acde640afa97a",
        "type": "ui_spacer",
        "z": "b5fc59b555f8beb6",
        "name": "spacer",
        "group": "42646fbec66b7a63",
        "order": 3,
        "width": 1,
        "height": 1
    },
    {
        "id": "08b207a78f8c6b23",
        "type": "ui_spacer",
        "z": "b5fc59b555f8beb6",
        "name": "spacer",
        "group": "42646fbec66b7a63",
        "order": 4,
        "width": 1,
        "height": 1
    },
    {
        "id": "85295a53fc277567",
        "type": "ui_spacer",
        "z": "b5fc59b555f8beb6",
        "name": "spacer",
        "group": "42646fbec66b7a63",
        "order": 6,
        "width": 1,
        "height": 1
    },
    {
        "id": "32b24e9d4ecf1493",
        "type": "ui_spacer",
        "z": "b5fc59b555f8beb6",
        "name": "spacer",
        "group": "42646fbec66b7a63",
        "order": 7,
        "width": 1,
        "height": 1
    },
    {
        "id": "b8892dc76ae27bc5",
        "type": "ui_spacer",
        "z": "b5fc59b555f8beb6",
        "name": "spacer",
        "group": "42646fbec66b7a63",
        "order": 9,
        "width": 1,
        "height": 1
    },
    {
        "id": "e6c01d373a74d9e8",
        "type": "ui_spacer",
        "z": "b5fc59b555f8beb6",
        "name": "spacer",
        "group": "42646fbec66b7a63",
        "order": 10,
        "width": 1,
        "height": 1
    },
    {
        "id": "d960879cc10fc945",
        "type": "ui_spacer",
        "z": "b5fc59b555f8beb6",
        "name": "spacer",
        "group": "42646fbec66b7a63",
        "order": 12,
        "width": 1,
        "height": 1
    },
    {
        "id": "6bc01623d4146f18",
        "type": "ui_spacer",
        "z": "b5fc59b555f8beb6",
        "name": "spacer",
        "group": "42646fbec66b7a63",
        "order": 13,
        "width": 1,
        "height": 1
    },
    {
        "id": "fa518e3248c78e68",
        "type": "ui_spacer",
        "z": "b5fc59b555f8beb6",
        "name": "spacer",
        "group": "42646fbec66b7a63",
        "order": 15,
        "width": 1,
        "height": 1
    },
    {
        "id": "6edf7c2357927ab0",
        "type": "ui_spacer",
        "z": "b5fc59b555f8beb6",
        "name": "spacer",
        "group": "42646fbec66b7a63",
        "order": 16,
        "width": 1,
        "height": 1
    },
    {
        "id": "125946432de92ba2",
        "type": "ui_spacer",
        "z": "b5fc59b555f8beb6",
        "name": "spacer",
        "group": "42646fbec66b7a63",
        "order": 18,
        "width": 1,
        "height": 1
    },
    {
        "id": "406a608efcf714bf",
        "type": "IOT Get",
        "z": "4a06fcdd722cb60d",
        "name": "",
        "x": 110,
        "y": 220,
        "wires": [
            [
                "7b5e139aad8149f7",
                "0aced6ef01b8feaf"
            ]
        ]
    },
    {
        "id": "7b5e139aad8149f7",
        "type": "function",
        "z": "4a06fcdd722cb60d",
        "name": "Write Data",
        "func": "var thing = msg.payload;\n\nif (thing.name == \"Robot1_1\") {\n    global.set(\"motor_R1\", {\n        \"m1\": thing.m1,\n        \"m2\": thing.m2,\n        \"m3\": thing.m3,\n        \"m4\": thing.m4,\n        \"m5\": thing.m5,\n        \"m6\": thing.m6\n        });\n    global.set(\"load_R1\", {\n        \"l1\": thing.l1,\n        \"l2\": thing.l2,\n        \"l3\": thing.l3,\n        \"l4\": thing.l4,\n        \"l5\": thing.l5,\n        \"l6\": thing.l6\n        });\n    global.set(\"temp_R1\", {\n        \"t1\": thing.t1,\n        \"t2\": thing.t2,\n        \"t3\": thing.t3,\n        \"t4\": thing.t4,\n        \"t5\": thing.t5,\n        \"t6\": thing.t6\n        });\n    global.set(\"s_R1\", thing.s);\n    global.set(\"n_R1\", thing.n);\n\n} else if (thing.name == \"Robot1_2\") {\n    global.set(\"motor_R2\", {\n        \"m1\": thing.m1,\n        \"m2\": thing.m2,\n        \"m3\": thing.m3,\n        \"m4\": thing.m4,\n        \"m5\": thing.m5,\n        \"m6\": thing.m6\n        });\n    global.set(\"load_R2\", {\n        \"l1\": thing.l1,\n        \"l2\": thing.l2,\n        \"l3\": thing.l3,\n        \"l4\": thing.l4,\n        \"l5\": thing.l5,\n        \"l6\": thing.l6\n        });\n    global.set(\"temp_R2\", {\n        \"t1\": thing.t1,\n        \"t2\": thing.t2,\n        \"t3\": thing.t3,\n        \"t4\": thing.t4,\n        \"t5\": thing.t5,\n        \"t6\": thing.t6\n        });\n    global.set(\"s_R2\", thing.s);\n    global.set(\"n_R2\", thing.n);\n} else if (thing.name == \"WorkshiftTerminal1\") {\n    global.set(\"terminal\", {\n        \"p\": thing.p,\n        \"b1\": thing.b1,\n        \"b2\": thing.b2,\n        \"b3\": thing.b3\n        });\n} else if (thing.name == \"SmartCamera1\") {\n    global.set(\"camera\", {\n        \"c\": thing.c\n        });\n}\n\nmsg.payload = [thing.name, global.get(\"motor_R1\")[\"m1\"]];\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 220,
        "wires": [
            [
                "c37a01d79922e14a"
            ]
        ]
    },
    {
        "id": "0aced6ef01b8feaf",
        "type": "debug",
        "z": "4a06fcdd722cb60d",
        "name": "debug 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 300,
        "y": 300,
        "wires": []
    },
    {
        "id": "c37a01d79922e14a",
        "type": "debug",
        "z": "4a06fcdd722cb60d",
        "name": "debug 2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 220,
        "wires": []
    },
    {
        "id": "fe7b0fd84bdce80b",
        "type": "inject",
        "z": "b5fc59b555f8beb6",
        "name": "Update Robots",
        "props": [],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 160,
        "y": 260,
        "wires": [
            [
                "89000d68142050d5",
                "d65e5e2d3c0ef145",
                "f73683f6ab974cca",
                "276abefffe8df2e9",
                "b19cf876a46beca6"
            ]
        ]
    },
    {
        "id": "89000d68142050d5",
        "type": "function",
        "z": "b5fc59b555f8beb6",
        "name": "Raw Motors",
        "func": "if (global.get(\"selected_robot\") == 1) {\n    var motor = global.get(\"motor_R1\");\n} else if (global.get(\"selected_robot\") == 2) {\n    var motor = global.get(\"motor_R2\");\n}\n\nmsg.payload = motor;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 40,
        "wires": [
            [
                "3e9f4745429b6383"
            ]
        ]
    },
    {
        "id": "3e9f4745429b6383",
        "type": "ui_form",
        "z": "b5fc59b555f8beb6",
        "name": "",
        "label": "",
        "group": "84fc9e1e23b00902",
        "order": 1,
        "width": 3,
        "height": 1,
        "options": [
            {
                "label": "Motor 1",
                "value": "m1",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Motor 2",
                "value": "m2",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Motor 3",
                "value": "m3",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Motor 4",
                "value": "m4",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Motor 5",
                "value": "m5",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Motor 6",
                "value": "m6",
                "type": "number",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "m1": "",
            "m2": "",
            "m3": "",
            "m4": "",
            "m5": "",
            "m6": ""
        },
        "payload": "",
        "submit": "",
        "cancel": "",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 650,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "e4e2e1aa9a66e4ce",
        "type": "ui_form",
        "z": "b5fc59b555f8beb6",
        "name": "",
        "label": "",
        "group": "4863af8c9b0bc051",
        "order": 1,
        "width": 3,
        "height": 1,
        "options": [
            {
                "label": "Motor 1",
                "value": "m1",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Motor 2",
                "value": "m2",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Motor 3",
                "value": "m3",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Motor 4",
                "value": "m4",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Motor 5",
                "value": "m5",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Motor 6",
                "value": "m6",
                "type": "number",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "m1": "",
            "m2": "",
            "m3": "",
            "m4": "",
            "m5": "",
            "m6": ""
        },
        "payload": "",
        "submit": "",
        "cancel": "",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 650,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "c75a9375d1303d3d",
        "type": "ui_form",
        "z": "b5fc59b555f8beb6",
        "name": "",
        "label": "",
        "group": "632fd0842d7cf8b1",
        "order": 1,
        "width": 3,
        "height": 1,
        "options": [
            {
                "label": "Load 1",
                "value": "l1",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Load 2",
                "value": "l2",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Load 3",
                "value": "l3",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Load 4",
                "value": "l4",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Load 5",
                "value": "l5",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Load 6",
                "value": "l6",
                "type": "number",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "l1": "",
            "l2": "",
            "l3": "",
            "l4": "",
            "l5": "",
            "l6": ""
        },
        "payload": "",
        "submit": "",
        "cancel": "",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 650,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "19ae0dcdf43b2478",
        "type": "ui_form",
        "z": "b5fc59b555f8beb6",
        "name": "",
        "label": "Temp",
        "group": "27883670a192734f",
        "order": 1,
        "width": 3,
        "height": 1,
        "options": [
            {
                "label": "Temp 1",
                "value": "t1",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Temp 2",
                "value": "t2",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Temp 3",
                "value": "t3",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Temp 4",
                "value": "t4",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Temp 5",
                "value": "t5",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Temp 6",
                "value": "t6",
                "type": "number",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "t1": "",
            "t2": "",
            "t3": "",
            "t4": "",
            "t5": "",
            "t6": ""
        },
        "payload": "",
        "submit": "",
        "cancel": "",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 650,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "55fdcee204dbee12",
        "type": "ui_form",
        "z": "b5fc59b555f8beb6",
        "name": "",
        "label": "",
        "group": "7049b5ae23159efb",
        "order": 1,
        "width": 3,
        "height": 1,
        "options": [
            {
                "label": "Load 1",
                "value": "l1",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Load 2",
                "value": "l2",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Load 3",
                "value": "l3",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Load 4",
                "value": "l4",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Load 5",
                "value": "l5",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Load 6",
                "value": "l6",
                "type": "number",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "l1": "",
            "l2": "",
            "l3": "",
            "l4": "",
            "l5": "",
            "l6": ""
        },
        "payload": "",
        "submit": "",
        "cancel": "",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 650,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "d65e5e2d3c0ef145",
        "type": "function",
        "z": "b5fc59b555f8beb6",
        "name": "Motors",
        "func": "if (global.get(\"selected_robot\") == 1) {\n    var motor = global.get(\"motor_R1\");\n} else if (global.get(\"selected_robot\") == 2) {\n    var motor = global.get(\"motor_R2\");\n}\n\nvar motorGrad = {};\n\nvar counter = 1;\nfor (var [key, value] of Object.entries(motor)) {\n    if (counter <= 4) {\n        motorGrad[key] = Math.round(value / 4096 * 360);\n    } else {\n        motorGrad[key] = Math.round(value / 1024 * 360);\n    }\n    counter++;\n}\n\nmsg.payload = motorGrad;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 100,
        "wires": [
            [
                "e4e2e1aa9a66e4ce",
                "075d071ff23226b1"
            ]
        ]
    },
    {
        "id": "f73683f6ab974cca",
        "type": "function",
        "z": "b5fc59b555f8beb6",
        "name": "Raw Load",
        "func": "if (global.get(\"selected_robot\") == 1) {\n    var load = global.get(\"load_R1\");\n} else if (global.get(\"selected_robot\") == 2) {\n    var load = global.get(\"load_R2\");\n}\n\nmsg.payload = load;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 260,
        "wires": [
            [
                "c75a9375d1303d3d"
            ]
        ]
    },
    {
        "id": "b19cf876a46beca6",
        "type": "function",
        "z": "b5fc59b555f8beb6",
        "name": "Temp",
        "func": "if (global.get(\"selected_robot\") == 1) {\n    var temp = global.get(\"temp_R1\");\n} else if (global.get(\"selected_robot\") == 2) {\n    var temp = global.get(\"temp_R2\");\n}\n\nmsg.payload = temp;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 420,
        "wires": [
            [
                "19ae0dcdf43b2478"
            ]
        ]
    },
    {
        "id": "276abefffe8df2e9",
        "type": "function",
        "z": "b5fc59b555f8beb6",
        "name": "Load",
        "func": "if (global.get(\"selected_robot\") == 1) {\n    var load = global.get(\"load_R1\");\n} else if (global.get(\"selected_robot\") == 2) {\n    var load = global.get(\"load_R2\");\n}\n\nvar loadProc = {};\n\nfor (var [key, value] of Object.entries(load)) {\n    if (value <= 1024) {\n        loadProc[key] = Math.round(value / 1024 * 100);\n    } else if (value > 1024) {\n        loadProc[key] = Math.round((value - 1024) / 1024 * 100);\n    }\n}\n\nmsg.payload = loadProc;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 320,
        "wires": [
            [
                "55fdcee204dbee12"
            ]
        ]
    },
    {
        "id": "075d071ff23226b1",
        "type": "function",
        "z": "b5fc59b555f8beb6",
        "name": "Status",
        "func": "var motors = msg.payload;\nvar status = [0, 0, 0, 0, 0, 0];\nvar i = 0;\nfor (var [key, value] of Object.entries(motors)) {\n    if (global.get(\"selected_robot\") == 1) {\n        if (value < global.get(\"motorGradMin_R1\")[key]) {\n            status[i] = {payload: 2};\n        } else if (value > global.get(\"motorGradMax_R1\")[key]) {\n            status[i] = {payload: 2};\n        } else if (value < global.get(\"motorGradCritMin_R1\")[key]) {\n            status[i] = {payload: 1};\n        } else if (value > global.get(\"motorGradCritMax_R1\")[key]) {\n            status[i] = {payload: 1};\n        } else {\n            status[i] = {payload: 0};\n        }\n    }\n    i++;\n}\n\nreturn status;",
        "outputs": 6,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 180,
        "wires": [
            [
                "14776111a05d9bb4"
            ],
            [
                "2d6b19ebc56c4842"
            ],
            [
                "cdf133b673a8faa7"
            ],
            [
                "51857c09cd0060f6"
            ],
            [
                "11316064125384df"
            ],
            [
                "e868ebd6732aa297"
            ]
        ]
    },
    {
        "id": "14776111a05d9bb4",
        "type": "ui_led",
        "z": "b5fc59b555f8beb6",
        "order": 2,
        "group": "42646fbec66b7a63",
        "width": 1,
        "height": 1,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#008000",
                "value": "0",
                "valueType": "num"
            },
            {
                "color": "#ffff00",
                "value": "1",
                "valueType": "num"
            },
            {
                "color": "#ff0000",
                "value": "2",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showGlow": true,
        "name": "",
        "x": 830,
        "y": 60,
        "wires": []
    },
    {
        "id": "0ed9920290c852a8",
        "type": "ui_dropdown",
        "z": "b5fc59b555f8beb6",
        "name": "Robot Selector",
        "label": "Робот",
        "tooltip": "",
        "place": "Select option",
        "group": "5ba311ed9ef44c31",
        "order": 2,
        "width": 6,
        "height": 1,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "Робот 1",
                "value": 1,
                "type": "num"
            },
            {
                "label": "Робот 2",
                "value": 2,
                "type": "num"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 140,
        "y": 500,
        "wires": [
            [
                "4ccf9c96169b0f8f"
            ]
        ]
    },
    {
        "id": "4ccf9c96169b0f8f",
        "type": "function",
        "z": "b5fc59b555f8beb6",
        "name": "Switch Robot",
        "func": "global.set(\"selected_robot\", msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "79c37742b02b67da",
        "type": "ui_button",
        "z": "b5fc59b555f8beb6",
        "name": "System Init",
        "group": "5ba311ed9ef44c31",
        "order": 1,
        "width": 6,
        "height": 1,
        "passthru": false,
        "label": "Инициализация системы",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 130,
        "y": 580,
        "wires": [
            [
                "3617dbf5f2127e63"
            ]
        ]
    },
    {
        "id": "3617dbf5f2127e63",
        "type": "function",
        "z": "b5fc59b555f8beb6",
        "name": "Set Defaults",
        "func": "global.set(\"robot_selected\", 1);\nglobal.set(\"current_limit\", \"motorGradMin\");\n\nglobal.set(\"motorGradMin_R1\", {\n    \"m1\": 10,\n    \"m2\": 10,\n    \"m3\": 10,\n    \"m4\": 10,\n    \"m5\": 10,\n    \"m6\": 10\n});\nglobal.set(\"motorGradCritMin_R1\", {\n    \"m1\": 15,\n    \"m2\": 15,\n    \"m3\": 15,\n    \"m4\": 15,\n    \"m5\": 15,\n    \"m6\": 15\n});\nglobal.set(\"motorGradCritMax_R1\", {\n    \"m1\": 85,\n    \"m2\": 85,\n    \"m3\": 85,\n    \"m4\": 85,\n    \"m5\": 85,\n    \"m6\": 85\n});\nglobal.set(\"motorGradMax_R1\", {\n    \"m1\": 90,\n    \"m2\": 90,\n    \"m3\": 90,\n    \"m4\": 90,\n    \"m5\": 90,\n    \"m6\": 90\n});\n\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "62afe6fc66dde5f5",
        "type": "ui_dropdown",
        "z": "b5fc59b555f8beb6",
        "name": "",
        "label": "Выбор параметра",
        "tooltip": "",
        "place": "Select option",
        "group": "4983803d4416cdc6",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "Поворот Минимально Допустимый",
                "value": "motorGradMin",
                "type": "str"
            },
            {
                "label": "Поворот Минимально Критический",
                "value": "motorGradCritMin",
                "type": "str"
            },
            {
                "label": "Поворот Максимально Критический",
                "value": "motorGradCritMax",
                "type": "str"
            },
            {
                "label": "Поворот Максимально Допустимый",
                "value": "motorGradMax",
                "type": "str"
            },
            {
                "label": "Нагрузка Минимально Допустимая",
                "value": "loadProcMin",
                "type": "str"
            },
            {
                "label": "Нагрузка Минимально Критическая",
                "value": "loadProcCritMin",
                "type": "str"
            },
            {
                "label": "Нагрузка Максимально Критическая",
                "value": "loadProcCritMax",
                "type": "str"
            },
            {
                "label": "Нагрузка Максимально Допустимая",
                "value": "loadProcMax",
                "type": "str"
            },
            {
                "label": "Температура Минимально Допустимая",
                "value": "tempMin",
                "type": "str"
            },
            {
                "label": "Температура Минимально Критическая",
                "value": "tempCritMin",
                "type": "str"
            },
            {
                "label": "Температура Максимально Критическая",
                "value": "tempCritMax",
                "type": "str"
            },
            {
                "label": "Температура Максимально Допустимая",
                "value": "tempMax",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 150,
        "y": 780,
        "wires": [
            [
                "cfdf11e8bb869dd8"
            ]
        ]
    },
    {
        "id": "cfdf11e8bb869dd8",
        "type": "function",
        "z": "b5fc59b555f8beb6",
        "name": "Choose Limit",
        "func": "var current_limit = msg.payload;\n\nif (global.get(\"selected_robot\") == 1) {\n    global.set(\"current_limit\", current_limit);\n} else if (global.get(\"selected_robot\") == 2) {\n    global.set(\"current_limit\", current_limit);\n}\n\nmsg.payload = global.get(\"current_limit\");\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 780,
        "wires": [
            [
                "abbc41c58ccffd16"
            ]
        ]
    },
    {
        "id": "8900bd7338ea0a07",
        "type": "ui_form",
        "z": "b5fc59b555f8beb6",
        "name": "",
        "label": "Motor Limits",
        "group": "4983803d4416cdc6",
        "order": 1,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Motor 1",
                "value": "m1",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Motor 2",
                "value": "m2",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Motor 3",
                "value": "m3",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Motor 4",
                "value": "m4",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Motor 5",
                "value": "m5",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Motor 6",
                "value": "m6",
                "type": "number",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "m1": "",
            "m2": "",
            "m3": "",
            "m4": "",
            "m5": "",
            "m6": ""
        },
        "payload": "",
        "submit": "Принять",
        "cancel": "",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 130,
        "y": 720,
        "wires": [
            [
                "96e8a3f1f68055a9"
            ]
        ]
    },
    {
        "id": "96e8a3f1f68055a9",
        "type": "function",
        "z": "b5fc59b555f8beb6",
        "name": "Set Limits",
        "func": "if (global.get(\"selected_robot\") == 1) {\n    var current_limit = global.get(\"current_limit\") + \"_R1\";\n} else if (global.get(\"selected_robot\") == 2) {\n    var current_limit = global.get(\"current_limit\") + \"_R2\";\n}\n\nglobal.set(current_limit, msg.payload)\n\nmsg.payload = global.get(current_limit);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 720,
        "wires": [
            [
                "3ebc63ee3ae69096"
            ]
        ]
    },
    {
        "id": "3ebc63ee3ae69096",
        "type": "debug",
        "z": "b5fc59b555f8beb6",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 720,
        "wires": []
    },
    {
        "id": "abbc41c58ccffd16",
        "type": "debug",
        "z": "b5fc59b555f8beb6",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 780,
        "wires": []
    },
    {
        "id": "7e20cea0b87bdf0a",
        "type": "function",
        "z": "b5fc59b555f8beb6",
        "name": "Update Limits",
        "func": "if (global.get(\"selected_robot\") == 1) {\n    var current_limit = global.get(\"current_limit\") + \"_R1\";\n} else if (global.get(\"selected_robot\") == 2) {\n    var current_limit = global.get(\"current_limit\") + \"_R2\";\n}\n\nmsg.payload = global.get(current_limit);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 660,
        "wires": [
            [
                "8900bd7338ea0a07"
            ]
        ]
    },
    {
        "id": "7d66ca69ef125f3c",
        "type": "inject",
        "z": "b5fc59b555f8beb6",
        "name": "Update",
        "props": [],
        "repeat": "0.1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 140,
        "y": 660,
        "wires": [
            [
                "7e20cea0b87bdf0a"
            ]
        ]
    },
    {
        "id": "8912818d502415fc",
        "type": "inject",
        "z": "b5fc59b555f8beb6",
        "name": "Update Terminal",
        "props": [],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 1030,
        "y": 260,
        "wires": [
            [
                "2301f18375cc54bc"
            ]
        ]
    },
    {
        "id": "2301f18375cc54bc",
        "type": "function",
        "z": "b5fc59b555f8beb6",
        "name": "Terminal",
        "func": "var terminal = global.get(\"terminal\");\n\nmsg.payload = terminal;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1240,
        "y": 260,
        "wires": [
            [
                "05fbb58623532a9a"
            ]
        ]
    },
    {
        "id": "05fbb58623532a9a",
        "type": "ui_form",
        "z": "b5fc59b555f8beb6",
        "name": "",
        "label": "Терминал",
        "group": "be207fdb611e54bc",
        "order": 1,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "DeadManSwitch",
                "value": "p",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Button 1",
                "value": "b1",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Button 1",
                "value": "b2",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Button 1",
                "value": "b3",
                "type": "number",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "p": "",
            "b1": "",
            "b2": "",
            "b3": ""
        },
        "payload": "",
        "submit": "",
        "cancel": "",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 1430,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "2d6b19ebc56c4842",
        "type": "ui_led",
        "z": "b5fc59b555f8beb6",
        "order": 5,
        "group": "42646fbec66b7a63",
        "width": 1,
        "height": 1,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#008000",
                "value": "0",
                "valueType": "num"
            },
            {
                "color": "#ffff00",
                "value": "1",
                "valueType": "num"
            },
            {
                "color": "#ff0000",
                "value": "2",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showGlow": true,
        "name": "",
        "x": 830,
        "y": 100,
        "wires": []
    },
    {
        "id": "cdf133b673a8faa7",
        "type": "ui_led",
        "z": "b5fc59b555f8beb6",
        "order": 14,
        "group": "42646fbec66b7a63",
        "width": 1,
        "height": 1,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#008000",
                "value": "0",
                "valueType": "num"
            },
            {
                "color": "#ffff00",
                "value": "1",
                "valueType": "num"
            },
            {
                "color": "#ff0000",
                "value": "2",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showGlow": true,
        "name": "",
        "x": 830,
        "y": 140,
        "wires": []
    },
    {
        "id": "51857c09cd0060f6",
        "type": "ui_led",
        "z": "b5fc59b555f8beb6",
        "order": 8,
        "group": "42646fbec66b7a63",
        "width": 1,
        "height": 1,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#008000",
                "value": "0",
                "valueType": "num"
            },
            {
                "color": "#ffff00",
                "value": "1",
                "valueType": "num"
            },
            {
                "color": "#ff0000",
                "value": "2",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showGlow": true,
        "name": "",
        "x": 830,
        "y": 180,
        "wires": []
    },
    {
        "id": "11316064125384df",
        "type": "ui_led",
        "z": "b5fc59b555f8beb6",
        "order": 11,
        "group": "42646fbec66b7a63",
        "width": 1,
        "height": 1,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#008000",
                "value": "0",
                "valueType": "num"
            },
            {
                "color": "#ffff00",
                "value": "1",
                "valueType": "num"
            },
            {
                "color": "#ff0000",
                "value": "2",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showGlow": true,
        "name": "",
        "x": 830,
        "y": 220,
        "wires": []
    },
    {
        "id": "e868ebd6732aa297",
        "type": "ui_led",
        "z": "b5fc59b555f8beb6",
        "order": 17,
        "group": "42646fbec66b7a63",
        "width": 1,
        "height": 1,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#008000",
                "value": "0",
                "valueType": "num"
            },
            {
                "color": "#ffff00",
                "value": "1",
                "valueType": "num"
            },
            {
                "color": "#ff0000",
                "value": "2",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showGlow": true,
        "name": "",
        "x": 830,
        "y": 260,
        "wires": []
    }
]