node-red/flows.json
[
    {
        "id": "5bd0da370cf69c96",
        "type": "tab",
        "label": "Robot Control",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "107ff8c238bcc061",
        "type": "tab",
        "label": "Robot Monitoring",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e07f16f2f739f841",
        "type": "tab",
        "label": "Robot control",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "0db56204ee20180e",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#d8a2c7",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#773078",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "reset": false
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#d8a2c7",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#d8a2c7",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#efd8e7",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#d8a2c7",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "179c78f9b0236523",
        "type": "ui_group",
        "name": "Motor",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "bbe64981d2d61740",
        "type": "ui_group",
        "name": "Table",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": 30,
        "collapse": false,
        "className": ""
    },
    {
        "id": "fe5649615357df6a",
        "type": "ui_group",
        "name": "Table",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "30",
        "collapse": false,
        "className": ""
    },
    {
        "id": "5021183245737fb7",
        "type": "ui_spacer",
        "z": "5bd0da370cf69c96",
        "name": "spacer",
        "group": "fe5649615357df6a",
        "order": 3,
        "width": 23,
        "height": 1
    },
    {
        "id": "e7f8a05ff298b01f",
        "type": "ui_spacer",
        "z": "5bd0da370cf69c96",
        "name": "spacer",
        "group": "fe5649615357df6a",
        "order": 5,
        "width": 3,
        "height": 1
    },
    {
        "id": "d455c8cdf5da08b7",
        "type": "ui_spacer",
        "z": "5bd0da370cf69c96",
        "name": "spacer",
        "group": "fe5649615357df6a",
        "order": 6,
        "width": 3,
        "height": 1
    },
    {
        "id": "77a6f0065f04cf1d",
        "type": "ui_spacer",
        "z": "5bd0da370cf69c96",
        "name": "spacer",
        "group": "fe5649615357df6a",
        "order": 7,
        "width": 3,
        "height": 1
    },
    {
        "id": "6d95096ac5bd7afd",
        "type": "ui_spacer",
        "z": "5bd0da370cf69c96",
        "name": "spacer",
        "group": "fe5649615357df6a",
        "order": 8,
        "width": 3,
        "height": 1
    },
    {
        "id": "345ea4b9a97170f0",
        "type": "ui_spacer",
        "z": "5bd0da370cf69c96",
        "name": "spacer",
        "group": "fe5649615357df6a",
        "order": 9,
        "width": 3,
        "height": 1
    },
    {
        "id": "b5045ac8e0d86d02",
        "type": "ui_spacer",
        "z": "5bd0da370cf69c96",
        "name": "spacer",
        "group": "fe5649615357df6a",
        "order": 10,
        "width": 3,
        "height": 1
    },
    {
        "id": "460e6c7c7e4df5c5",
        "type": "ui_spacer",
        "z": "5bd0da370cf69c96",
        "name": "spacer",
        "group": "fe5649615357df6a",
        "order": 11,
        "width": 3,
        "height": 1
    },
    {
        "id": "99187ee94ebba41c",
        "type": "ui_tab",
        "name": "Monitoring",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "b852b2f0ea5468f5",
        "type": "ui_group",
        "name": "Robot 1 Load",
        "tab": "99187ee94ebba41c",
        "order": 2,
        "disp": true,
        "width": 13,
        "collapse": false,
        "className": ""
    },
    {
        "id": "bb676c794922defe",
        "type": "ui_group",
        "name": "Robot 1 Motors",
        "tab": "99187ee94ebba41c",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "0099cc047f067bd5",
        "type": "ui_tab",
        "name": "Control",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "26242c89e093eda8",
        "type": "ui_group",
        "name": "Robot 1",
        "tab": "0099cc047f067bd5",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "4ad0ca5f63196c38",
        "type": "ui_group",
        "name": "Robot 2",
        "tab": "0099cc047f067bd5",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "571a38b1.5e3638",
        "type": "ui_group",
        "name": "Richer Table",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "8",
        "collapse": false
    },
    {
        "id": "141c0df2ae71b1e9",
        "type": "ui_group",
        "name": "Default",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "30",
        "collapse": false,
        "className": ""
    },
    {
        "id": "af01fb4d6f9064fc",
        "type": "MySQLdatabase",
        "name": "",
        "host": "172.16.0.89",
        "port": "8888",
        "db": "Device",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "51ce6aa1.620754",
        "type": "ui_group",
        "name": "ui_control",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "22",
        "collapse": false
    },
    {
        "id": "625872f.40b1e8c",
        "type": "ui_group",
        "name": "Default",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "d4b80f060233293a",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": 6
    },
    {
        "id": "83b8a8508a9b66ba",
        "type": "ui_group",
        "name": "Robot 2 Motors",
        "tab": "99187ee94ebba41c",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "62ffe78fb8e5dc34",
        "type": "ui_group",
        "name": "Robot 2 Load",
        "tab": "99187ee94ebba41c",
        "order": 4,
        "disp": true,
        "width": 13,
        "collapse": false,
        "className": ""
    },
    {
        "id": "da262c594c2acfa3",
        "type": "ui_spacer",
        "z": "107ff8c238bcc061",
        "name": "spacer",
        "group": "b852b2f0ea5468f5",
        "order": 3,
        "width": 1,
        "height": 1
    },
    {
        "id": "27bcb8e587e460eb",
        "type": "ui_spacer",
        "z": "107ff8c238bcc061",
        "name": "spacer",
        "group": "62ffe78fb8e5dc34",
        "order": 3,
        "width": 1,
        "height": 1
    },
    {
        "id": "19f7feffe41ac9f9",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "d2efd43e5d45df27",
        "type": "ui_tab",
        "name": "Home",
        "icon": "track_changes",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "12a49f15f4bfbeb6",
        "type": "ui_spacer",
        "z": "5bd0da370cf69c96",
        "name": "spacer",
        "group": "26242c89e093eda8",
        "order": 2,
        "width": 2,
        "height": 1
    },
    {
        "id": "415a9f211edff925",
        "type": "ui_spacer",
        "z": "5bd0da370cf69c96",
        "name": "spacer",
        "group": "26242c89e093eda8",
        "order": 4,
        "width": 1,
        "height": 1
    },
    {
        "id": "b693c2a19ec1b1dc",
        "type": "ui_spacer",
        "z": "5bd0da370cf69c96",
        "name": "spacer",
        "group": "26242c89e093eda8",
        "order": 6,
        "width": 4,
        "height": 1
    },
    {
        "id": "d7e48d2479cfa14a",
        "type": "ui_spacer",
        "z": "5bd0da370cf69c96",
        "name": "spacer",
        "group": "26242c89e093eda8",
        "order": 8,
        "width": 2,
        "height": 1
    },
    {
        "id": "1b1adf25193f6cd0",
        "type": "ui_spacer",
        "z": "5bd0da370cf69c96",
        "name": "spacer",
        "group": "4ad0ca5f63196c38",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "e910275e6b9cf035",
        "type": "ui_spacer",
        "z": "5bd0da370cf69c96",
        "name": "spacer",
        "group": "4ad0ca5f63196c38",
        "order": 3,
        "width": 1,
        "height": 1
    },
    {
        "id": "23943c5007ea6f83",
        "type": "ui_spacer",
        "z": "5bd0da370cf69c96",
        "name": "spacer",
        "group": "4ad0ca5f63196c38",
        "order": 6,
        "width": 5,
        "height": 1
    },
    {
        "id": "6c700c56d0c64e52",
        "type": "ui_spacer",
        "z": "5bd0da370cf69c96",
        "name": "spacer",
        "group": "4ad0ca5f63196c38",
        "order": 7,
        "width": 1,
        "height": 1
    },
    {
        "id": "9ebfa5d94fcd9b51",
        "type": "ui_spacer",
        "z": "5bd0da370cf69c96",
        "name": "spacer",
        "group": "4ad0ca5f63196c38",
        "order": 9,
        "width": 1,
        "height": 1
    },
    {
        "id": "4227b518105f715a",
        "type": "IOT Function",
        "z": "5bd0da370cf69c96",
        "name": "Robot4_1",
        "robot_name": "Robot4_1",
        "N": "0",
        "X": "70",
        "Y": "200",
        "T": "0",
        "G": "200",
        "V": "0",
        "D0": "0",
        "L1": "0",
        "L2": "0",
        "L3": "0",
        "L4": "0",
        "P": "0",
        "Text": "",
        "x": 520,
        "y": 120,
        "wires": [
            [
                "1680f92a56bdcef0"
            ]
        ]
    },
    {
        "id": "4a4e681e7c18e6d8",
        "type": "ui_button",
        "z": "5bd0da370cf69c96",
        "name": "",
        "group": "26242c89e093eda8",
        "order": 1,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "Pos 1",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 330,
        "y": 120,
        "wires": [
            [
                "4227b518105f715a"
            ]
        ]
    },
    {
        "id": "5d27fcf084170107",
        "type": "IOT Function",
        "z": "5bd0da370cf69c96",
        "name": "Robot4_1",
        "robot_name": "Robot4_1",
        "N": "0",
        "X": "60",
        "Y": "295",
        "T": "0",
        "G": "200",
        "V": "0",
        "D0": "0",
        "L1": "0",
        "L2": "0",
        "L3": "0",
        "L4": "0",
        "P": "0",
        "Text": "",
        "x": 520,
        "y": 180,
        "wires": [
            [
                "1680f92a56bdcef0"
            ]
        ]
    },
    {
        "id": "1680f92a56bdcef0",
        "type": "IOT Send",
        "z": "5bd0da370cf69c96",
        "name": "",
        "x": 880,
        "y": 180,
        "wires": []
    },
    {
        "id": "b08f30634be85432",
        "type": "ui_button",
        "z": "5bd0da370cf69c96",
        "name": "",
        "group": "26242c89e093eda8",
        "order": 5,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "Pos 2",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 330,
        "y": 180,
        "wires": [
            [
                "5d27fcf084170107"
            ]
        ]
    },
    {
        "id": "ae126dba76871fbb",
        "type": "IOT Function",
        "z": "5bd0da370cf69c96",
        "name": "Robot4_1",
        "robot_name": "Robot4_1",
        "N": "0",
        "X": "60",
        "Y": "230",
        "T": "0",
        "G": "200",
        "V": "0",
        "D0": "0",
        "L1": "0",
        "L2": "0",
        "L3": "0",
        "L4": "0",
        "P": "0",
        "Text": "",
        "x": 520,
        "y": 240,
        "wires": [
            [
                "1680f92a56bdcef0"
            ]
        ]
    },
    {
        "id": "34270b4eeab9bae7",
        "type": "ui_button",
        "z": "5bd0da370cf69c96",
        "name": "",
        "group": "26242c89e093eda8",
        "order": 7,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "Pos 3",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 330,
        "y": 240,
        "wires": [
            [
                "ae126dba76871fbb"
            ]
        ]
    },
    {
        "id": "9e22a0ec951f30a5",
        "type": "IOT Function",
        "z": "5bd0da370cf69c96",
        "name": "Robot4_2",
        "robot_name": "Robot4_2",
        "N": "0",
        "X": "250",
        "Y": "0",
        "T": "0",
        "G": "200",
        "V": "0",
        "D0": "0",
        "L1": "0",
        "L2": "0",
        "L3": "0",
        "L4": "0",
        "P": "0",
        "Text": "",
        "x": 1240,
        "y": 120,
        "wires": [
            [
                "af35d6fed871e85d"
            ]
        ]
    },
    {
        "id": "d5a3b05a3beab15b",
        "type": "IOT Function",
        "z": "5bd0da370cf69c96",
        "name": "Robot4_2",
        "robot_name": "Robot4_2",
        "N": "0",
        "X": "275",
        "Y": "-50",
        "T": "0",
        "G": "200",
        "V": "0",
        "D0": "0",
        "L1": "0",
        "L2": "0",
        "L3": "0",
        "L4": "0",
        "P": "0",
        "Text": "",
        "x": 1240,
        "y": 180,
        "wires": [
            [
                "af35d6fed871e85d"
            ]
        ]
    },
    {
        "id": "af35d6fed871e85d",
        "type": "IOT Send",
        "z": "5bd0da370cf69c96",
        "name": "",
        "x": 1560,
        "y": 180,
        "wires": []
    },
    {
        "id": "97f64347de9f2f30",
        "type": "IOT Function",
        "z": "5bd0da370cf69c96",
        "name": "Robot4_2",
        "robot_name": "Robot4_2",
        "N": "0",
        "X": "300",
        "Y": "0",
        "T": "0",
        "G": "200",
        "V": "0",
        "D0": "0",
        "L1": "0",
        "L2": "0",
        "L3": "0",
        "L4": "0",
        "P": "0",
        "Text": "Parking",
        "x": 1240,
        "y": 240,
        "wires": [
            [
                "af35d6fed871e85d"
            ]
        ]
    },
    {
        "id": "2c8eff42dc92745b",
        "type": "ui_button",
        "z": "5bd0da370cf69c96",
        "name": "",
        "group": "4ad0ca5f63196c38",
        "order": 2,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "Pos 1",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 1050,
        "y": 120,
        "wires": [
            [
                "9e22a0ec951f30a5"
            ]
        ]
    },
    {
        "id": "8b6fa14154cbd04b",
        "type": "ui_button",
        "z": "5bd0da370cf69c96",
        "name": "",
        "group": "4ad0ca5f63196c38",
        "order": 5,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "Pos 2",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 1050,
        "y": 180,
        "wires": [
            [
                "d5a3b05a3beab15b"
            ]
        ]
    },
    {
        "id": "14135113ad6778f0",
        "type": "ui_button",
        "z": "5bd0da370cf69c96",
        "name": "",
        "group": "4ad0ca5f63196c38",
        "order": 8,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "Pos 3",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 1050,
        "y": 240,
        "wires": [
            [
                "97f64347de9f2f30"
            ]
        ]
    },
    {
        "id": "35e976e1c995fc31",
        "type": "ui_switch",
        "z": "5bd0da370cf69c96",
        "name": "",
        "label": "Vacuum",
        "tooltip": "",
        "group": "26242c89e093eda8",
        "order": 3,
        "width": 3,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 140,
        "y": 300,
        "wires": [
            [
                "578c0769560fe06a"
            ]
        ]
    },
    {
        "id": "578c0769560fe06a",
        "type": "function",
        "z": "5bd0da370cf69c96",
        "name": "function 1",
        "func": "switch (msg.payload) {\n    case true:\n        flow.set(\"V\", 1)\n    case false:\n        flow.set(\"V\", 0)\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 300,
        "wires": [
            [
                "ae126dba76871fbb",
                "5d27fcf084170107",
                "4227b518105f715a"
            ]
        ]
    },
    {
        "id": "d9b55505c0e17b9d",
        "type": "ui_switch",
        "z": "5bd0da370cf69c96",
        "name": "",
        "label": "Vacuum",
        "tooltip": "",
        "group": "4ad0ca5f63196c38",
        "order": 4,
        "width": 3,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 860,
        "y": 300,
        "wires": [
            [
                "500ffaec5e581412"
            ]
        ]
    },
    {
        "id": "500ffaec5e581412",
        "type": "function",
        "z": "5bd0da370cf69c96",
        "name": "function 2",
        "func": "switch (msg.payload) {\n    case true:\n        flow.set(\"V\", 1)\n    case false:\n        flow.set(\"V\", 0)\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1040,
        "y": 300,
        "wires": [
            [
                "97f64347de9f2f30",
                "d5a3b05a3beab15b",
                "9e22a0ec951f30a5"
            ]
        ]
    },
    {
        "id": "a2a39f7e27f60fba",
        "type": "ui_switch",
        "z": "5bd0da370cf69c96",
        "name": "",
        "label": "Lower",
        "tooltip": "",
        "group": "26242c89e093eda8",
        "order": 9,
        "width": 3,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 130,
        "y": 380,
        "wires": [
            [
                "5d9b84c3bbd65266"
            ]
        ]
    },
    {
        "id": "5d9b84c3bbd65266",
        "type": "function",
        "z": "5bd0da370cf69c96",
        "name": "function 3",
        "func": "switch (msg.payload) {\n    case true:\n        flow.set(\"G\", 150)\n    case false:\n        flow.set(\"G\", 200)\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 380,
        "wires": [
            [
                "4227b518105f715a",
                "5d27fcf084170107",
                "ae126dba76871fbb"
            ]
        ]
    },
    {
        "id": "bca8162e11e5f97e",
        "type": "ui_switch",
        "z": "5bd0da370cf69c96",
        "name": "",
        "label": "Lower",
        "tooltip": "",
        "group": "4ad0ca5f63196c38",
        "order": 10,
        "width": 3,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 850,
        "y": 380,
        "wires": [
            [
                "a28092c25a919126"
            ]
        ]
    },
    {
        "id": "a28092c25a919126",
        "type": "function",
        "z": "5bd0da370cf69c96",
        "name": "function 4",
        "func": "switch (msg.payload) {\n    case true:\n        flow.set(\"G\", 150)\n    case false:\n        flow.set(\"G\", 200)\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1040,
        "y": 380,
        "wires": [
            [
                "9e22a0ec951f30a5",
                "d5a3b05a3beab15b",
                "97f64347de9f2f30"
            ]
        ]
    },
    {
        "id": "a4c0aad89f4a9581",
        "type": "ui_digital_display",
        "z": "107ff8c238bcc061",
        "name": "L1",
        "group": "b852b2f0ea5468f5",
        "order": 4,
        "width": 6,
        "height": 1,
        "digits": "4",
        "decimals": "0",
        "x": 830,
        "y": 420,
        "wires": []
    },
    {
        "id": "64be4c5f9d76c8be",
        "type": "ui_text",
        "z": "107ff8c238bcc061",
        "group": "b852b2f0ea5468f5",
        "order": 2,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Load",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 830,
        "y": 380,
        "wires": []
    },
    {
        "id": "e7c7e66bc75c7078",
        "type": "IOT Get",
        "z": "107ff8c238bcc061",
        "name": "Robot 1",
        "x": 110,
        "y": 360,
        "wires": [
            [
                "7a06e9f83029b55f",
                "936e17f602469ddb"
            ]
        ]
    },
    {
        "id": "4f8d152e04aabb18",
        "type": "ui_digital_display",
        "z": "107ff8c238bcc061",
        "name": "M1",
        "group": "bb676c794922defe",
        "order": 2,
        "width": 0,
        "height": 0,
        "digits": "4",
        "decimals": "0",
        "x": 570,
        "y": 100,
        "wires": []
    },
    {
        "id": "7a06e9f83029b55f",
        "type": "function",
        "z": "107ff8c238bcc061",
        "name": "Get Motor Data",
        "func": "if (msg.payload.name == \"Robot4_1\") {\n    var messages = []\n    messages.push({ payload: msg.payload.m1 });\n    messages.push({ payload: msg.payload.m2 });\n    messages.push({ payload: msg.payload.m3 });\n    messages.push({ payload: msg.payload.m4 });\n    messages.push({ payload: msg.payload.m5 });\n    messages.push({ payload: msg.payload.m6 });\n    return messages;\n}",
        "outputs": 6,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 200,
        "wires": [
            [
                "4f8d152e04aabb18"
            ],
            [
                "b56e4cf4b5a5d3d6"
            ],
            [
                "12a22cc69b2a5bfb"
            ],
            [
                "9049a58fb921d44a"
            ],
            [
                "62aadd376ff56856"
            ],
            [
                "6fbeb0984802f085"
            ]
        ]
    },
    {
        "id": "b56e4cf4b5a5d3d6",
        "type": "ui_digital_display",
        "z": "107ff8c238bcc061",
        "name": "M2",
        "group": "bb676c794922defe",
        "order": 3,
        "width": 0,
        "height": 0,
        "digits": "4",
        "decimals": "0",
        "x": 570,
        "y": 140,
        "wires": []
    },
    {
        "id": "12a22cc69b2a5bfb",
        "type": "ui_digital_display",
        "z": "107ff8c238bcc061",
        "name": "M3",
        "group": "bb676c794922defe",
        "order": 4,
        "width": 0,
        "height": 0,
        "digits": "4",
        "decimals": "0",
        "x": 570,
        "y": 180,
        "wires": []
    },
    {
        "id": "9049a58fb921d44a",
        "type": "ui_digital_display",
        "z": "107ff8c238bcc061",
        "name": "M4",
        "group": "bb676c794922defe",
        "order": 5,
        "width": 0,
        "height": 0,
        "digits": "4",
        "decimals": "0",
        "x": 570,
        "y": 220,
        "wires": []
    },
    {
        "id": "62aadd376ff56856",
        "type": "ui_digital_display",
        "z": "107ff8c238bcc061",
        "name": "M5",
        "group": "bb676c794922defe",
        "order": 6,
        "width": 0,
        "height": 0,
        "digits": "4",
        "decimals": "0",
        "x": 570,
        "y": 260,
        "wires": []
    },
    {
        "id": "6fbeb0984802f085",
        "type": "ui_digital_display",
        "z": "107ff8c238bcc061",
        "name": "M6",
        "group": "bb676c794922defe",
        "order": 7,
        "width": 0,
        "height": 0,
        "digits": "4",
        "decimals": "0",
        "x": 570,
        "y": 300,
        "wires": []
    },
    {
        "id": "e6955a1a4b148ad8",
        "type": "ui_text",
        "z": "107ff8c238bcc061",
        "group": "bb676c794922defe",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Motors",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 570,
        "y": 60,
        "wires": []
    },
    {
        "id": "b61bc52e702375ff",
        "type": "ui_digital_display",
        "z": "107ff8c238bcc061",
        "name": "L2",
        "group": "b852b2f0ea5468f5",
        "order": 7,
        "width": 6,
        "height": 1,
        "digits": "4",
        "decimals": "0",
        "x": 830,
        "y": 500,
        "wires": []
    },
    {
        "id": "f4fb88b6d33c7a63",
        "type": "ui_digital_display",
        "z": "107ff8c238bcc061",
        "name": "L3",
        "group": "b852b2f0ea5468f5",
        "order": 10,
        "width": 6,
        "height": 1,
        "digits": "4",
        "decimals": "0",
        "x": 830,
        "y": 580,
        "wires": []
    },
    {
        "id": "ac9716c0932ebdca",
        "type": "ui_digital_display",
        "z": "107ff8c238bcc061",
        "name": "L4",
        "group": "b852b2f0ea5468f5",
        "order": 13,
        "width": 6,
        "height": 1,
        "digits": "4",
        "decimals": "0",
        "x": 830,
        "y": 660,
        "wires": []
    },
    {
        "id": "000a3d1e698d7562",
        "type": "ui_digital_display",
        "z": "107ff8c238bcc061",
        "name": "L5",
        "group": "b852b2f0ea5468f5",
        "order": 16,
        "width": 6,
        "height": 1,
        "digits": "4",
        "decimals": "0",
        "x": 830,
        "y": 740,
        "wires": []
    },
    {
        "id": "f9c41f39c0bdb140",
        "type": "ui_digital_display",
        "z": "107ff8c238bcc061",
        "name": "L6",
        "group": "b852b2f0ea5468f5",
        "order": 19,
        "width": 6,
        "height": 1,
        "digits": "4",
        "decimals": "0",
        "x": 830,
        "y": 820,
        "wires": []
    },
    {
        "id": "43103c95fa077e97",
        "type": "IOT Get",
        "z": "107ff8c238bcc061",
        "name": "Robot 2",
        "x": 1090,
        "y": 360,
        "wires": [
            [
                "b006b367e160245c",
                "7764afb1d3a45bc0"
            ]
        ]
    },
    {
        "id": "63016c9de094783b",
        "type": "ui_digital_display",
        "z": "107ff8c238bcc061",
        "name": "M1_2",
        "group": "83b8a8508a9b66ba",
        "order": 2,
        "width": 0,
        "height": 0,
        "digits": "4",
        "decimals": "0",
        "x": 1550,
        "y": 100,
        "wires": []
    },
    {
        "id": "b006b367e160245c",
        "type": "function",
        "z": "107ff8c238bcc061",
        "name": "Get Motor Data",
        "func": "if (msg.payload.name == \"Robot4_2\") {\n    var messages = []\n    messages.push({ payload: msg.payload.m1 });\n    messages.push({ payload: msg.payload.m2 });\n    messages.push({ payload: msg.payload.m3 });\n    messages.push({ payload: msg.payload.m4 });\n    messages.push({ payload: msg.payload.m5 });\n    messages.push({ payload: msg.payload.m6 });\n    return messages;\n}",
        "outputs": 6,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1300,
        "y": 200,
        "wires": [
            [
                "63016c9de094783b"
            ],
            [
                "bb3f3b10889061d8"
            ],
            [
                "e211e34f773991d6"
            ],
            [
                "7296e6419c33b364"
            ],
            [
                "3173d8bb44bd7bf4"
            ],
            [
                "a4f21584c4b067c0"
            ]
        ]
    },
    {
        "id": "bb3f3b10889061d8",
        "type": "ui_digital_display",
        "z": "107ff8c238bcc061",
        "name": "M2_2",
        "group": "83b8a8508a9b66ba",
        "order": 3,
        "width": 0,
        "height": 0,
        "digits": "4",
        "decimals": "0",
        "x": 1550,
        "y": 140,
        "wires": []
    },
    {
        "id": "e211e34f773991d6",
        "type": "ui_digital_display",
        "z": "107ff8c238bcc061",
        "name": "M3_2",
        "group": "83b8a8508a9b66ba",
        "order": 4,
        "width": 0,
        "height": 0,
        "digits": "4",
        "decimals": "0",
        "x": 1550,
        "y": 180,
        "wires": []
    },
    {
        "id": "7296e6419c33b364",
        "type": "ui_digital_display",
        "z": "107ff8c238bcc061",
        "name": "M4_2",
        "group": "83b8a8508a9b66ba",
        "order": 5,
        "width": 0,
        "height": 0,
        "digits": "4",
        "decimals": "0",
        "x": 1550,
        "y": 220,
        "wires": []
    },
    {
        "id": "3173d8bb44bd7bf4",
        "type": "ui_digital_display",
        "z": "107ff8c238bcc061",
        "name": "M5_2",
        "group": "83b8a8508a9b66ba",
        "order": 6,
        "width": 0,
        "height": 0,
        "digits": "4",
        "decimals": "0",
        "x": 1550,
        "y": 260,
        "wires": []
    },
    {
        "id": "a4f21584c4b067c0",
        "type": "ui_digital_display",
        "z": "107ff8c238bcc061",
        "name": "M6_2",
        "group": "83b8a8508a9b66ba",
        "order": 7,
        "width": 0,
        "height": 0,
        "digits": "4",
        "decimals": "0",
        "x": 1550,
        "y": 300,
        "wires": []
    },
    {
        "id": "7320ae8a06bcf03a",
        "type": "ui_text",
        "z": "107ff8c238bcc061",
        "group": "83b8a8508a9b66ba",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Motors",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1550,
        "y": 60,
        "wires": []
    },
    {
        "id": "dc93b442fd95de81",
        "type": "ui_digital_display",
        "z": "107ff8c238bcc061",
        "name": "RL1",
        "group": "b852b2f0ea5468f5",
        "order": 5,
        "width": 6,
        "height": 1,
        "digits": "4",
        "decimals": "0",
        "x": 570,
        "y": 420,
        "wires": []
    },
    {
        "id": "936e17f602469ddb",
        "type": "function",
        "z": "107ff8c238bcc061",
        "name": "Get Raw Load Data",
        "func": "if (msg.payload.name == \"Robot4_1\") {\n    var messages = []\n    messages.push({ payload: msg.payload.l1 });\n    messages.push({ payload: msg.payload.l2 });\n    messages.push({ payload: msg.payload.l3 });\n    messages.push({ payload: msg.payload.l4 });\n    messages.push({ payload: msg.payload.l5 });\n    messages.push({ payload: msg.payload.l6 });\n    return messages;\n}",
        "outputs": 6,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 540,
        "wires": [
            [
                "dc93b442fd95de81",
                "3105a4110ba85263"
            ],
            [
                "db22b82ad3654c3b",
                "79338e6d09977c65"
            ],
            [
                "bdaebdbe00093e49",
                "3a6699ca9753393e"
            ],
            [
                "af63692a9afd4572",
                "e19c7987aeb08681"
            ],
            [
                "cac607720d855077",
                "c156b0c815065f3e"
            ],
            [
                "661edefbc1333476",
                "4a38dc1f490a7254"
            ]
        ]
    },
    {
        "id": "a58ea7f3adaf73e1",
        "type": "ui_text",
        "z": "107ff8c238bcc061",
        "group": "b852b2f0ea5468f5",
        "order": 1,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Raw Load",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 580,
        "y": 380,
        "wires": []
    },
    {
        "id": "db22b82ad3654c3b",
        "type": "ui_digital_display",
        "z": "107ff8c238bcc061",
        "name": "RL2",
        "group": "b852b2f0ea5468f5",
        "order": 8,
        "width": 6,
        "height": 1,
        "digits": "4",
        "decimals": "0",
        "x": 570,
        "y": 500,
        "wires": []
    },
    {
        "id": "bdaebdbe00093e49",
        "type": "ui_digital_display",
        "z": "107ff8c238bcc061",
        "name": "RL3",
        "group": "b852b2f0ea5468f5",
        "order": 11,
        "width": 6,
        "height": 1,
        "digits": "4",
        "decimals": "0",
        "x": 570,
        "y": 580,
        "wires": []
    },
    {
        "id": "af63692a9afd4572",
        "type": "ui_digital_display",
        "z": "107ff8c238bcc061",
        "name": "RL4",
        "group": "b852b2f0ea5468f5",
        "order": 14,
        "width": 6,
        "height": 1,
        "digits": "4",
        "decimals": "0",
        "x": 570,
        "y": 660,
        "wires": []
    },
    {
        "id": "cac607720d855077",
        "type": "ui_digital_display",
        "z": "107ff8c238bcc061",
        "name": "RL5",
        "group": "b852b2f0ea5468f5",
        "order": 17,
        "width": 6,
        "height": 1,
        "digits": "4",
        "decimals": "0",
        "x": 570,
        "y": 740,
        "wires": []
    },
    {
        "id": "661edefbc1333476",
        "type": "ui_digital_display",
        "z": "107ff8c238bcc061",
        "name": "RL6",
        "group": "b852b2f0ea5468f5",
        "order": 20,
        "width": 6,
        "height": 1,
        "digits": "4",
        "decimals": "0",
        "x": 570,
        "y": 820,
        "wires": []
    },
    {
        "id": "3105a4110ba85263",
        "type": "function",
        "z": "107ff8c238bcc061",
        "name": "Convert and Check",
        "func": "var value = msg.payload;\nvar status = { payload: 0 };\nvar number = { payload: 0 };\n\nif (value <= 1024) {\n    number.payload = value / 1024 * 100;\n} else {\n    number.payload = (value - 1024) / 1024 * 100;\n}\n\nif (value > 0 && value < 1024) {\n    status.payload = 2;\n} else if (value >= 3072 && value < 4096) {\n    status.payload = 2;\n} else if (value >= 1024 && value < 3072) {\n    status.payload = 1;\n} else if (value <= 0 && value >= 4096) {\n    status.payload = 0;\n} else{\n    status.payload = 0;\n}\n\nreturn [number, status];",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 460,
        "wires": [
            [
                "a4c0aad89f4a9581"
            ],
            [
                "c807162896571e01"
            ]
        ]
    },
    {
        "id": "c807162896571e01",
        "type": "ui_led",
        "z": "107ff8c238bcc061",
        "order": 6,
        "group": "b852b2f0ea5468f5",
        "width": 1,
        "height": 1,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "0",
                "valueType": "num"
            },
            {
                "color": "#ffff00",
                "value": "1",
                "valueType": "num"
            },
            {
                "color": "#008000",
                "value": "2",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showGlow": true,
        "name": "LED1",
        "x": 830,
        "y": 460,
        "wires": []
    },
    {
        "id": "79338e6d09977c65",
        "type": "function",
        "z": "107ff8c238bcc061",
        "name": "Convert and Check",
        "func": "var value = msg.payload;\nvar status = { payload: 0 };\nvar number = { payload: 0 };\n\nif (value <= 1024) {\n    number.payload = value / 1024 * 100;\n} else {\n    number.payload = (value - 1024) / 1024 * 100;\n}\n\nif (value > 0 && value < 1024) {\n    status.payload = 2;\n} else if (value >= 3072 && value < 4096) {\n    status.payload = 2;\n} else if (value >= 1024 && value < 3072) {\n    status.payload = 1;\n} else if (value <= 0 && value >= 4096) {\n    status.payload = 0;\n} else {\n    status.payload = 0;\n}\n\nreturn [number, status];",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 540,
        "wires": [
            [
                "b61bc52e702375ff"
            ],
            [
                "434014c1a3d4b64b"
            ]
        ]
    },
    {
        "id": "434014c1a3d4b64b",
        "type": "ui_led",
        "z": "107ff8c238bcc061",
        "order": 9,
        "group": "b852b2f0ea5468f5",
        "width": 1,
        "height": 1,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "0",
                "valueType": "num"
            },
            {
                "color": "#ffff00",
                "value": "1",
                "valueType": "num"
            },
            {
                "color": "#008000",
                "value": "2",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showGlow": true,
        "name": "LED2",
        "x": 830,
        "y": 540,
        "wires": []
    },
    {
        "id": "3a6699ca9753393e",
        "type": "function",
        "z": "107ff8c238bcc061",
        "name": "Convert and Check",
        "func": "var value = msg.payload;\nvar status = { payload: 0 };\nvar number = { payload: 0 };\n\nif (value <= 1024) {\n    number.payload = value / 1024 * 100;\n} else {\n    number.payload = (value - 1024) / 1024 * 100;\n}\n\nif (value > 0 && value < 1024) {\n    status.payload = 2;\n} else if (value >= 3072 && value < 4096) {\n    status.payload = 2;\n} else if (value >= 1024 && value < 3072) {\n    status.payload = 1;\n} else if (value <= 0 && value >= 4096) {\n    status.payload = 0;\n} else {\n    status.payload = 0;\n}\n\nreturn [number, status];",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 620,
        "wires": [
            [
                "f4fb88b6d33c7a63"
            ],
            [
                "4e6901db67f003e0"
            ]
        ]
    },
    {
        "id": "4e6901db67f003e0",
        "type": "ui_led",
        "z": "107ff8c238bcc061",
        "order": 12,
        "group": "b852b2f0ea5468f5",
        "width": 1,
        "height": 1,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "0",
                "valueType": "num"
            },
            {
                "color": "#ffff00",
                "value": "1",
                "valueType": "num"
            },
            {
                "color": "#008000",
                "value": "2",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showGlow": true,
        "name": "LED3",
        "x": 830,
        "y": 620,
        "wires": []
    },
    {
        "id": "e19c7987aeb08681",
        "type": "function",
        "z": "107ff8c238bcc061",
        "name": "Convert and Check",
        "func": "var value = msg.payload;\nvar status = { payload: 0 };\nvar number = { payload: 0 };\n\nif (value <= 1024) {\n    number.payload = value / 1024 * 100;\n} else {\n    number.payload = (value - 1024) / 1024 * 100;\n}\n\nif (value > 0 && value < 1024) {\n    status.payload = 2;\n} else if (value >= 3072 && value < 4096) {\n    status.payload = 2;\n} else if (value >= 1024 && value < 3072) {\n    status.payload = 1;\n} else if (value <= 0 && value >= 4096) {\n    status.payload = 0;\n} else{\n    status.payload = 0;\n}\n\nreturn [number, status];",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 700,
        "wires": [
            [
                "ac9716c0932ebdca"
            ],
            [
                "194eea84b258b987"
            ]
        ]
    },
    {
        "id": "194eea84b258b987",
        "type": "ui_led",
        "z": "107ff8c238bcc061",
        "order": 15,
        "group": "b852b2f0ea5468f5",
        "width": 1,
        "height": 1,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "0",
                "valueType": "num"
            },
            {
                "color": "#ffff00",
                "value": "1",
                "valueType": "num"
            },
            {
                "color": "#008000",
                "value": "2",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showGlow": true,
        "name": "LED4",
        "x": 830,
        "y": 700,
        "wires": []
    },
    {
        "id": "c156b0c815065f3e",
        "type": "function",
        "z": "107ff8c238bcc061",
        "name": "Convert and Check",
        "func": "var value = msg.payload;\nvar status = { payload: 0 };\nvar number = { payload: 0 };\n\nif (value <= 1024) {\n    number.payload = value / 1024 * 100;\n} else {\n    number.payload = (value - 1024) / 1024 * 100;\n}\n\nif (value > 0 && value < 1024) {\n    status.payload = 2;\n} else if (value >= 3072 && value < 4096) {\n    status.payload = 2;\n} else if (value >= 1024 && value < 3072) {\n    status.payload = 1;\n} else if (value <= 0 && value >= 4096) {\n    status.payload = 0;\n} else {\n    status.payload = 0;\n}\n\nreturn [number, status];",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 780,
        "wires": [
            [
                "000a3d1e698d7562"
            ],
            [
                "7dc41355c17d8989"
            ]
        ]
    },
    {
        "id": "7dc41355c17d8989",
        "type": "ui_led",
        "z": "107ff8c238bcc061",
        "order": 18,
        "group": "b852b2f0ea5468f5",
        "width": 1,
        "height": 1,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "0",
                "valueType": "num"
            },
            {
                "color": "#ffff00",
                "value": "1",
                "valueType": "num"
            },
            {
                "color": "#008000",
                "value": "2",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showGlow": true,
        "name": "LED5",
        "x": 830,
        "y": 780,
        "wires": []
    },
    {
        "id": "4a38dc1f490a7254",
        "type": "function",
        "z": "107ff8c238bcc061",
        "name": "Convert and Check",
        "func": "var value = msg.payload;\nvar status = { payload: 0 };\nvar number = { payload: 0 };\n\nif (value <= 1024) {\n    number.payload = value / 1024 * 100;\n} else {\n    number.payload = (value - 1024) / 1024 * 100;\n}\n\nif (value > 0 && value < 1024) {\n    status.payload = 2;\n} else if (value >= 3072 && value < 4096) {\n    status.payload = 2;\n} else if (value >= 1024 && value < 3072) {\n    status.payload = 1;\n} else if (value <= 0 && value >= 4096) {\n    status.payload = 0;\n} else{\n    status.payload = 0;\n}\n\nreturn [number, status];",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 860,
        "wires": [
            [
                "f9c41f39c0bdb140"
            ],
            [
                "ce4fa86d4c0127cc"
            ]
        ]
    },
    {
        "id": "ce4fa86d4c0127cc",
        "type": "ui_led",
        "z": "107ff8c238bcc061",
        "order": 21,
        "group": "b852b2f0ea5468f5",
        "width": 1,
        "height": 1,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "0",
                "valueType": "num"
            },
            {
                "color": "#ffff00",
                "value": "1",
                "valueType": "num"
            },
            {
                "color": "#008000",
                "value": "2",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showGlow": true,
        "name": "LED6",
        "x": 830,
        "y": 860,
        "wires": []
    },
    {
        "id": "f301164f9eeb8d8b",
        "type": "ui_digital_display",
        "z": "107ff8c238bcc061",
        "name": "L1_2",
        "group": "62ffe78fb8e5dc34",
        "order": 4,
        "width": 6,
        "height": 1,
        "digits": "4",
        "decimals": "0",
        "x": 1810,
        "y": 420,
        "wires": []
    },
    {
        "id": "dae4776d8d9b6a3a",
        "type": "ui_text",
        "z": "107ff8c238bcc061",
        "group": "62ffe78fb8e5dc34",
        "order": 2,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Load",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1810,
        "y": 380,
        "wires": []
    },
    {
        "id": "19cd01a08d304aa1",
        "type": "ui_digital_display",
        "z": "107ff8c238bcc061",
        "name": "L2_2",
        "group": "62ffe78fb8e5dc34",
        "order": 7,
        "width": 6,
        "height": 1,
        "digits": "4",
        "decimals": "0",
        "x": 1810,
        "y": 500,
        "wires": []
    },
    {
        "id": "bd357653c00b219a",
        "type": "ui_digital_display",
        "z": "107ff8c238bcc061",
        "name": "L3_2",
        "group": "62ffe78fb8e5dc34",
        "order": 10,
        "width": 6,
        "height": 1,
        "digits": "4",
        "decimals": "0",
        "x": 1810,
        "y": 580,
        "wires": []
    },
    {
        "id": "baf48708849875f8",
        "type": "ui_digital_display",
        "z": "107ff8c238bcc061",
        "name": "L4_2",
        "group": "62ffe78fb8e5dc34",
        "order": 13,
        "width": 6,
        "height": 1,
        "digits": "4",
        "decimals": "0",
        "x": 1810,
        "y": 660,
        "wires": []
    },
    {
        "id": "b9051e15a9de4a3c",
        "type": "ui_digital_display",
        "z": "107ff8c238bcc061",
        "name": "L5_2",
        "group": "62ffe78fb8e5dc34",
        "order": 16,
        "width": 6,
        "height": 1,
        "digits": "4",
        "decimals": "0",
        "x": 1810,
        "y": 740,
        "wires": []
    },
    {
        "id": "a3c010fe10f4f0bf",
        "type": "ui_digital_display",
        "z": "107ff8c238bcc061",
        "name": "L6_2",
        "group": "62ffe78fb8e5dc34",
        "order": 19,
        "width": 6,
        "height": 1,
        "digits": "4",
        "decimals": "0",
        "x": 1810,
        "y": 820,
        "wires": []
    },
    {
        "id": "a4107921ab071e5d",
        "type": "ui_digital_display",
        "z": "107ff8c238bcc061",
        "name": "RL1_2",
        "group": "62ffe78fb8e5dc34",
        "order": 5,
        "width": 6,
        "height": 1,
        "digits": "4",
        "decimals": "0",
        "x": 1550,
        "y": 420,
        "wires": []
    },
    {
        "id": "7764afb1d3a45bc0",
        "type": "function",
        "z": "107ff8c238bcc061",
        "name": "Get Raw Load Data",
        "func": "if (msg.payload.name == \"Robot4_2\") {\n    var messages = []\n    messages.push({ payload: msg.payload.l1 });\n    messages.push({ payload: msg.payload.l2 });\n    messages.push({ payload: msg.payload.l3 });\n    messages.push({ payload: msg.payload.l4 });\n    messages.push({ payload: msg.payload.l5 });\n    messages.push({ payload: msg.payload.l6 });\n    return messages;\n}",
        "outputs": 6,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1310,
        "y": 540,
        "wires": [
            [
                "a4107921ab071e5d",
                "81dcb7777ea0e66b"
            ],
            [
                "7af3d641212769d4",
                "c6d32f11743dbfb1"
            ],
            [
                "5466bea7c5d50668",
                "43c24eb91162e1da"
            ],
            [
                "69f696ebbba33cc5",
                "fc5604ceab2ed62c"
            ],
            [
                "b1ed554461c6fc3f",
                "6e2e46a876faea3d"
            ],
            [
                "f9ee71c5ed1be33c",
                "65b0f6ffb4b2bd5b"
            ]
        ]
    },
    {
        "id": "d8c1dd07dde08b24",
        "type": "ui_text",
        "z": "107ff8c238bcc061",
        "group": "62ffe78fb8e5dc34",
        "order": 1,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Raw Load",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1560,
        "y": 380,
        "wires": []
    },
    {
        "id": "7af3d641212769d4",
        "type": "ui_digital_display",
        "z": "107ff8c238bcc061",
        "name": "RL2_2",
        "group": "62ffe78fb8e5dc34",
        "order": 8,
        "width": 6,
        "height": 1,
        "digits": "4",
        "decimals": "0",
        "x": 1550,
        "y": 500,
        "wires": []
    },
    {
        "id": "5466bea7c5d50668",
        "type": "ui_digital_display",
        "z": "107ff8c238bcc061",
        "name": "RL3_2",
        "group": "62ffe78fb8e5dc34",
        "order": 11,
        "width": 6,
        "height": 1,
        "digits": "4",
        "decimals": "0",
        "x": 1550,
        "y": 580,
        "wires": []
    },
    {
        "id": "69f696ebbba33cc5",
        "type": "ui_digital_display",
        "z": "107ff8c238bcc061",
        "name": "RL4_2",
        "group": "62ffe78fb8e5dc34",
        "order": 14,
        "width": 6,
        "height": 1,
        "digits": "4",
        "decimals": "0",
        "x": 1550,
        "y": 660,
        "wires": []
    },
    {
        "id": "b1ed554461c6fc3f",
        "type": "ui_digital_display",
        "z": "107ff8c238bcc061",
        "name": "RL5_2",
        "group": "62ffe78fb8e5dc34",
        "order": 17,
        "width": 6,
        "height": 1,
        "digits": "4",
        "decimals": "0",
        "x": 1550,
        "y": 740,
        "wires": []
    },
    {
        "id": "f9ee71c5ed1be33c",
        "type": "ui_digital_display",
        "z": "107ff8c238bcc061",
        "name": "RL6_2",
        "group": "62ffe78fb8e5dc34",
        "order": 20,
        "width": 6,
        "height": 1,
        "digits": "4",
        "decimals": "0",
        "x": 1550,
        "y": 820,
        "wires": []
    },
    {
        "id": "81dcb7777ea0e66b",
        "type": "function",
        "z": "107ff8c238bcc061",
        "name": "Convert and Check",
        "func": "var value = msg.payload;\nvar status = { payload: 0 };\nvar number = { payload: 0 };\n\nif (value <= 1024) {\n    number.payload = value / 1024 * 100;\n} else {\n    number.payload = (value - 1024) / 1024 * 100;\n}\n\nif (value > 0 && value < 1024) {\n    status.payload = 2;\n} else if (value >= 3072 && value < 4096) {\n    status.payload = 2;\n} else if (value >= 1024 && value < 3072) {\n    status.payload = 1;\n} else if (value <= 0 && value >= 4096) {\n    status.payload = 0;\n} else{\n    status.payload = 0;\n}\n\nreturn [number, status];",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1590,
        "y": 460,
        "wires": [
            [
                "f301164f9eeb8d8b"
            ],
            [
                "60b205da8e4bc510"
            ]
        ]
    },
    {
        "id": "60b205da8e4bc510",
        "type": "ui_led",
        "z": "107ff8c238bcc061",
        "order": 6,
        "group": "62ffe78fb8e5dc34",
        "width": 1,
        "height": 1,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "0",
                "valueType": "num"
            },
            {
                "color": "#ffff00",
                "value": "1",
                "valueType": "num"
            },
            {
                "color": "#008000",
                "value": "2",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showGlow": true,
        "name": "LED1_2",
        "x": 1820,
        "y": 460,
        "wires": []
    },
    {
        "id": "c6d32f11743dbfb1",
        "type": "function",
        "z": "107ff8c238bcc061",
        "name": "Convert and Check",
        "func": "var value = msg.payload;\nvar status = { payload: 0 };\nvar number = { payload: 0 };\n\nif (value <= 1024) {\n    number.payload = value / 1024 * 100;\n} else {\n    number.payload = (value - 1024) / 1024 * 100;\n}\n\nif (value > 0 && value < 1024) {\n    status.payload = 2;\n} else if (value >= 3072 && value < 4096) {\n    status.payload = 2;\n} else if (value >= 1024 && value < 3072) {\n    status.payload = 1;\n} else if (value <= 0 && value >= 4096) {\n    status.payload = 0;\n} else {\n    status.payload = 0;\n}\n\nreturn [number, status];",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1590,
        "y": 540,
        "wires": [
            [
                "19cd01a08d304aa1"
            ],
            [
                "6b1b3b9244e7db07"
            ]
        ]
    },
    {
        "id": "6b1b3b9244e7db07",
        "type": "ui_led",
        "z": "107ff8c238bcc061",
        "order": 9,
        "group": "62ffe78fb8e5dc34",
        "width": 1,
        "height": 1,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "0",
                "valueType": "num"
            },
            {
                "color": "#ffff00",
                "value": "1",
                "valueType": "num"
            },
            {
                "color": "#008000",
                "value": "2",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showGlow": true,
        "name": "LED2_2",
        "x": 1820,
        "y": 540,
        "wires": []
    },
    {
        "id": "43c24eb91162e1da",
        "type": "function",
        "z": "107ff8c238bcc061",
        "name": "Convert and Check",
        "func": "var value = msg.payload;\nvar status = { payload: 0 };\nvar number = { payload: 0 };\n\nif (value <= 1024) {\n    number.payload = value / 1024 * 100;\n} else {\n    number.payload = (value - 1024) / 1024 * 100;\n}\n\nif (value > 0 && value < 1024) {\n    status.payload = 2;\n} else if (value >= 3072 && value < 4096) {\n    status.payload = 2;\n} else if (value >= 1024 && value < 3072) {\n    status.payload = 1;\n} else if (value <= 0 && value >= 4096) {\n    status.payload = 0;\n} else {\n    status.payload = 0;\n}\n\nreturn [number, status];",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1590,
        "y": 620,
        "wires": [
            [
                "bd357653c00b219a"
            ],
            [
                "cbd12ced9b0af9df"
            ]
        ]
    },
    {
        "id": "cbd12ced9b0af9df",
        "type": "ui_led",
        "z": "107ff8c238bcc061",
        "order": 12,
        "group": "62ffe78fb8e5dc34",
        "width": 1,
        "height": 1,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "0",
                "valueType": "num"
            },
            {
                "color": "#ffff00",
                "value": "1",
                "valueType": "num"
            },
            {
                "color": "#008000",
                "value": "2",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showGlow": true,
        "name": "LED3_2",
        "x": 1820,
        "y": 620,
        "wires": []
    },
    {
        "id": "fc5604ceab2ed62c",
        "type": "function",
        "z": "107ff8c238bcc061",
        "name": "Convert and Check",
        "func": "var value = msg.payload;\nvar status = { payload: 0 };\nvar number = { payload: 0 };\n\nif (value <= 1024) {\n    number.payload = value / 1024 * 100;\n} else {\n    number.payload = (value - 1024) / 1024 * 100;\n}\n\nif (value > 0 && value < 1024) {\n    status.payload = 2;\n} else if (value >= 3072 && value < 4096) {\n    status.payload = 2;\n} else if (value >= 1024 && value < 3072) {\n    status.payload = 1;\n} else if (value <= 0 && value >= 4096) {\n    status.payload = 0;\n} else{\n    status.payload = 0;\n}\n\nreturn [number, status];",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1590,
        "y": 700,
        "wires": [
            [
                "baf48708849875f8"
            ],
            [
                "8406a311f4ab91bb"
            ]
        ]
    },
    {
        "id": "8406a311f4ab91bb",
        "type": "ui_led",
        "z": "107ff8c238bcc061",
        "order": 15,
        "group": "62ffe78fb8e5dc34",
        "width": 1,
        "height": 1,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "0",
                "valueType": "num"
            },
            {
                "color": "#ffff00",
                "value": "1",
                "valueType": "num"
            },
            {
                "color": "#008000",
                "value": "2",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showGlow": true,
        "name": "LED4_2",
        "x": 1820,
        "y": 700,
        "wires": []
    },
    {
        "id": "6e2e46a876faea3d",
        "type": "function",
        "z": "107ff8c238bcc061",
        "name": "Convert and Check",
        "func": "var value = msg.payload;\nvar status = { payload: 0 };\nvar number = { payload: 0 };\n\nif (value <= 1024) {\n    number.payload = value / 1024 * 100;\n} else {\n    number.payload = (value - 1024) / 1024 * 100;\n}\n\nif (value > 0 && value < 1024) {\n    status.payload = 2;\n} else if (value >= 3072 && value < 4096) {\n    status.payload = 2;\n} else if (value >= 1024 && value < 3072) {\n    status.payload = 1;\n} else if (value <= 0 && value >= 4096) {\n    status.payload = 0;\n} else {\n    status.payload = 0;\n}\n\nreturn [number, status];",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1590,
        "y": 780,
        "wires": [
            [
                "b9051e15a9de4a3c"
            ],
            [
                "59718b73a9e2c43e"
            ]
        ]
    },
    {
        "id": "59718b73a9e2c43e",
        "type": "ui_led",
        "z": "107ff8c238bcc061",
        "order": 18,
        "group": "62ffe78fb8e5dc34",
        "width": 1,
        "height": 1,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "0",
                "valueType": "num"
            },
            {
                "color": "#ffff00",
                "value": "1",
                "valueType": "num"
            },
            {
                "color": "#008000",
                "value": "2",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showGlow": true,
        "name": "LED5_2",
        "x": 1820,
        "y": 780,
        "wires": []
    },
    {
        "id": "65b0f6ffb4b2bd5b",
        "type": "function",
        "z": "107ff8c238bcc061",
        "name": "Convert and Check",
        "func": "var value = msg.payload;\nvar status = { payload: 0 };\nvar number = { payload: 0 };\n\nif (value <= 1024) {\n    number.payload = value / 1024 * 100;\n} else {\n    number.payload = (value - 1024) / 1024 * 100;\n}\n\nif (value > 0 && value < 1024) {\n    status.payload = 2;\n} else if (value >= 3072 && value < 4096) {\n    status.payload = 2;\n} else if (value >= 1024 && value < 3072) {\n    status.payload = 1;\n} else if (value <= 0 && value >= 4096) {\n    status.payload = 0;\n} else{\n    status.payload = 0;\n}\n\nreturn [number, status];",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1590,
        "y": 860,
        "wires": [
            [
                "a3c010fe10f4f0bf"
            ],
            [
                "d9261a48365a7cc9"
            ]
        ]
    },
    {
        "id": "d9261a48365a7cc9",
        "type": "ui_led",
        "z": "107ff8c238bcc061",
        "order": 21,
        "group": "62ffe78fb8e5dc34",
        "width": 1,
        "height": 1,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "0",
                "valueType": "num"
            },
            {
                "color": "#ffff00",
                "value": "1",
                "valueType": "num"
            },
            {
                "color": "#008000",
                "value": "2",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showGlow": true,
        "name": "LED6_2",
        "x": 1820,
        "y": 860,
        "wires": []
    },
    {
        "id": "6822138886921d19",
        "type": "function",
        "z": "e07f16f2f739f841",
        "name": "Get from Robot1_1",
        "func": "if (msg.payload.name == \"Robot1_1\")\n{\n    var msg1 = { payload: msg.payload.m1 };\n    var msg2 = { payload: msg.payload.m2 };\n    var msg3 = { payload: msg.payload.m3 };\n    var msg4 = { payload: msg.payload.m4 };\n    var msg5 = { payload: msg.payload.m5 };\n    var msg6 = { payload: msg.payload.m6 };\n\n    return [msg1, msg2, msg3, msg4, msg5, msg6]\n}",
        "outputs": 6,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 420,
        "wires": [
            [
                "5925c55bb3b1eef5"
            ],
            [
                "acfa7e8cce9adcf5"
            ],
            [
                "442d09e89a4dd4f2"
            ],
            [
                "a5ea1d46592c7593"
            ],
            [
                "c245fd54c78d1716"
            ],
            [
                "e2594e5b1f596f10"
            ]
        ]
    },
    {
        "id": "de24ebcefa807e51",
        "type": "inject",
        "z": "e07f16f2f739f841",
        "name": "Button",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 220,
        "wires": [
            [
                "c798b3e43a01660c"
            ]
        ]
    },
    {
        "id": "efb8c42d2b13366c",
        "type": "inject",
        "z": "e07f16f2f739f841",
        "name": "Button",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 180,
        "wires": [
            [
                "bdfd1d222b8f2b93"
            ]
        ]
    },
    {
        "id": "70c411c7524f7c55",
        "type": "inject",
        "z": "e07f16f2f739f841",
        "name": "Button",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 100,
        "wires": [
            [
                "c23634246ef5a422"
            ]
        ]
    },
    {
        "id": "a377f95011413367",
        "type": "inject",
        "z": "e07f16f2f739f841",
        "name": "Button",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 140,
        "wires": [
            [
                "e5b5ab340ff1f8d9"
            ]
        ]
    },
    {
        "id": "5925c55bb3b1eef5",
        "type": "debug",
        "z": "e07f16f2f739f841",
        "name": "Motor 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 320,
        "wires": []
    },
    {
        "id": "acfa7e8cce9adcf5",
        "type": "debug",
        "z": "e07f16f2f739f841",
        "name": "Motor 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 360,
        "wires": []
    },
    {
        "id": "442d09e89a4dd4f2",
        "type": "debug",
        "z": "e07f16f2f739f841",
        "name": "Motor 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 400,
        "wires": []
    },
    {
        "id": "a5ea1d46592c7593",
        "type": "debug",
        "z": "e07f16f2f739f841",
        "name": "Motor 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 440,
        "wires": []
    },
    {
        "id": "c245fd54c78d1716",
        "type": "debug",
        "z": "e07f16f2f739f841",
        "name": "Motor 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 480,
        "wires": []
    },
    {
        "id": "e2594e5b1f596f10",
        "type": "debug",
        "z": "e07f16f2f739f841",
        "name": "Motor 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 520,
        "wires": []
    },
    {
        "id": "2b084a13633f0a59",
        "type": "comment",
        "z": "e07f16f2f739f841",
        "name": "Pallitizer",
        "info": "",
        "x": 140,
        "y": 60,
        "wires": []
    },
    {
        "id": "2de05c07e6ff392b",
        "type": "comment",
        "z": "e07f16f2f739f841",
        "name": "Angular",
        "info": "",
        "x": 830,
        "y": 60,
        "wires": []
    },
    {
        "id": "93d30b465d670c79",
        "type": "IOT Get",
        "z": "e07f16f2f739f841",
        "name": "",
        "x": 110,
        "y": 420,
        "wires": [
            [
                "6822138886921d19"
            ]
        ]
    },
    {
        "id": "c23634246ef5a422",
        "type": "IOT Function",
        "z": "e07f16f2f739f841",
        "name": "Robot1_1 Pose 1 Vacum 1",
        "robot_name": "Robot1_1",
        "N": "0",
        "X": "1",
        "Y": "0",
        "T": "0",
        "G": "0",
        "V": "1",
        "D0": "0",
        "L1": "0",
        "L2": "0",
        "L3": "0",
        "L4": "0",
        "P": "0",
        "Text": "",
        "x": 340,
        "y": 100,
        "wires": [
            [
                "eaa4408fb1c954cf"
            ]
        ]
    },
    {
        "id": "eaa4408fb1c954cf",
        "type": "IOT Send",
        "z": "e07f16f2f739f841",
        "name": "",
        "x": 560,
        "y": 100,
        "wires": []
    },
    {
        "id": "e5b5ab340ff1f8d9",
        "type": "IOT Function",
        "z": "e07f16f2f739f841",
        "name": "Robot1_1 Coordinates Vacum 0",
        "robot_name": "Robot1_1",
        "N": "0",
        "X": "170",
        "Y": "120",
        "T": "0",
        "G": "200",
        "V": "0",
        "D0": "0",
        "L1": "0",
        "L2": "0",
        "L3": "0",
        "L4": "0",
        "P": "0",
        "Text": "",
        "x": 350,
        "y": 140,
        "wires": [
            [
                "f5f547708f181e5a"
            ]
        ]
    },
    {
        "id": "f5f547708f181e5a",
        "type": "IOT Send",
        "z": "e07f16f2f739f841",
        "name": "",
        "x": 560,
        "y": 140,
        "wires": []
    },
    {
        "id": "bdfd1d222b8f2b93",
        "type": "IOT Function",
        "z": "e07f16f2f739f841",
        "name": "Robot1_1 Parking pose",
        "robot_name": "Robot1_1",
        "N": "0",
        "X": "0",
        "Y": "0",
        "T": "0",
        "G": "0",
        "V": "0",
        "D0": "0",
        "L1": "0",
        "L2": "0",
        "L3": "0",
        "L4": "0",
        "P": "0",
        "Text": "Parking",
        "x": 330,
        "y": 180,
        "wires": [
            [
                "6bcc1c2abdf4ef62"
            ]
        ]
    },
    {
        "id": "6bcc1c2abdf4ef62",
        "type": "IOT Send",
        "z": "e07f16f2f739f841",
        "name": "",
        "x": 560,
        "y": 180,
        "wires": []
    },
    {
        "id": "c798b3e43a01660c",
        "type": "IOT Function",
        "z": "e07f16f2f739f841",
        "name": "Robot1_1 Start Pose",
        "robot_name": "Robot1_1",
        "N": "0",
        "X": "0",
        "Y": "0",
        "T": "0",
        "G": "0",
        "V": "0",
        "D0": "0",
        "L1": "0",
        "L2": "0",
        "L3": "0",
        "L4": "0",
        "P": "0",
        "Text": "Start",
        "x": 320,
        "y": 220,
        "wires": [
            [
                "49e97ffc891461c3"
            ]
        ]
    },
    {
        "id": "49e97ffc891461c3",
        "type": "IOT Send",
        "z": "e07f16f2f739f841",
        "name": "",
        "x": 560,
        "y": 220,
        "wires": []
    },
    {
        "id": "2b6e92d87fbe9620",
        "type": "function",
        "z": "e07f16f2f739f841",
        "name": "Get from Robot1_2",
        "func": "if (msg.payload.name == \"Robot1_2\")\n{\n    var msg1 = { payload: msg.payload.m1 };\n    var msg2 = { payload: msg.payload.m2 };\n    var msg3 = { payload: msg.payload.m3 };\n    var msg4 = { payload: msg.payload.m4 };\n    var msg5 = { payload: msg.payload.m5 };\n    var msg6 = { payload: msg.payload.m6 };\n\n    return [msg1, msg2, msg3, msg4, msg5, msg6]\n}",
        "outputs": 6,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 700,
        "wires": [
            [
                "7606fb93399cf004"
            ],
            [
                "35b226eff03f845a"
            ],
            [
                "cea73cbf1acc3054"
            ],
            [
                "09ca0116ed37930d"
            ],
            [
                "b719ceb0010ac25c"
            ],
            [
                "76de36e5d00577ba"
            ]
        ]
    },
    {
        "id": "7606fb93399cf004",
        "type": "debug",
        "z": "e07f16f2f739f841",
        "name": "Motor 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 600,
        "wires": []
    },
    {
        "id": "35b226eff03f845a",
        "type": "debug",
        "z": "e07f16f2f739f841",
        "name": "Motor 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 640,
        "wires": []
    },
    {
        "id": "cea73cbf1acc3054",
        "type": "debug",
        "z": "e07f16f2f739f841",
        "name": "Motor 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 680,
        "wires": []
    },
    {
        "id": "09ca0116ed37930d",
        "type": "debug",
        "z": "e07f16f2f739f841",
        "name": "Motor 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 720,
        "wires": []
    },
    {
        "id": "b719ceb0010ac25c",
        "type": "debug",
        "z": "e07f16f2f739f841",
        "name": "Motor 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 760,
        "wires": []
    },
    {
        "id": "76de36e5d00577ba",
        "type": "debug",
        "z": "e07f16f2f739f841",
        "name": "Motor 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 800,
        "wires": []
    },
    {
        "id": "23a3ccf2c1270712",
        "type": "IOT Get",
        "z": "e07f16f2f739f841",
        "name": "",
        "x": 110,
        "y": 700,
        "wires": [
            [
                "2b6e92d87fbe9620"
            ]
        ]
    },
    {
        "id": "3b41da62f1fd518f",
        "type": "inject",
        "z": "e07f16f2f739f841",
        "name": "Button",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 850,
        "y": 220,
        "wires": [
            [
                "81cf8194d9d79c5d"
            ]
        ]
    },
    {
        "id": "8bddf47c4b77cae1",
        "type": "inject",
        "z": "e07f16f2f739f841",
        "name": "Button",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 850,
        "y": 180,
        "wires": [
            [
                "f3e734d7b2cb682e"
            ]
        ]
    },
    {
        "id": "341228bf079b283c",
        "type": "inject",
        "z": "e07f16f2f739f841",
        "name": "Button",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 850,
        "y": 100,
        "wires": [
            [
                "61ae32d2696e898f"
            ]
        ]
    },
    {
        "id": "f386f4aa91a53c35",
        "type": "inject",
        "z": "e07f16f2f739f841",
        "name": "Button",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 850,
        "y": 140,
        "wires": [
            [
                "d7c3539153de093f"
            ]
        ]
    },
    {
        "id": "61ae32d2696e898f",
        "type": "IOT Function",
        "z": "e07f16f2f739f841",
        "name": "Robot1_2 Pose 1 Vacum 1",
        "robot_name": "Robot1_2",
        "N": "0",
        "X": "1",
        "Y": "0",
        "T": "0",
        "G": "0",
        "V": "1",
        "D0": "0",
        "L1": "0",
        "L2": "0",
        "L3": "0",
        "L4": "0",
        "P": "0",
        "Text": "",
        "x": 1040,
        "y": 100,
        "wires": [
            [
                "d61bfc5c85b18498"
            ]
        ]
    },
    {
        "id": "d61bfc5c85b18498",
        "type": "IOT Send",
        "z": "e07f16f2f739f841",
        "name": "",
        "x": 1260,
        "y": 100,
        "wires": []
    },
    {
        "id": "d7c3539153de093f",
        "type": "IOT Function",
        "z": "e07f16f2f739f841",
        "name": "Robot1_2 Coordinates Vacum 0",
        "robot_name": "Robot1_2",
        "N": "0",
        "X": "170",
        "Y": "120",
        "T": "90",
        "G": "200",
        "V": "0",
        "D0": "0",
        "L1": "0",
        "L2": "0",
        "L3": "0",
        "L4": "0",
        "P": "0",
        "Text": "",
        "x": 1050,
        "y": 140,
        "wires": [
            [
                "54878d9de884886b"
            ]
        ]
    },
    {
        "id": "54878d9de884886b",
        "type": "IOT Send",
        "z": "e07f16f2f739f841",
        "name": "",
        "x": 1260,
        "y": 140,
        "wires": []
    },
    {
        "id": "f3e734d7b2cb682e",
        "type": "IOT Function",
        "z": "e07f16f2f739f841",
        "name": "Robot1_2 Parking pose",
        "robot_name": "Robot1_2",
        "N": "0",
        "X": "1",
        "Y": "0",
        "T": "0",
        "G": "0",
        "V": "1",
        "D0": "0",
        "L1": "0",
        "L2": "0",
        "L3": "0",
        "L4": "0",
        "P": "0",
        "Text": "Parking",
        "x": 1030,
        "y": 180,
        "wires": [
            [
                "ed88ad0ed55bdf14"
            ]
        ]
    },
    {
        "id": "ed88ad0ed55bdf14",
        "type": "IOT Send",
        "z": "e07f16f2f739f841",
        "name": "",
        "x": 1260,
        "y": 180,
        "wires": []
    },
    {
        "id": "81cf8194d9d79c5d",
        "type": "IOT Function",
        "z": "e07f16f2f739f841",
        "name": "Robot1_2 Start Pose",
        "robot_name": "Robot1_2",
        "N": "0",
        "X": "0",
        "Y": "0",
        "T": "0",
        "G": "0",
        "V": "0",
        "D0": "0",
        "L1": "0",
        "L2": "0",
        "L3": "0",
        "L4": "0",
        "P": "0",
        "Text": "Start",
        "x": 1020,
        "y": 220,
        "wires": [
            [
                "58871668587b2583"
            ]
        ]
    },
    {
        "id": "58871668587b2583",
        "type": "IOT Send",
        "z": "e07f16f2f739f841",
        "name": "",
        "x": 1260,
        "y": 220,
        "wires": []
    }
]