node-red/flows.json
[
    {
        "id": "5bd0da370cf69c96",
        "type": "tab",
        "label": "Robot Control",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "6f0e28b75d17d8a5",
        "type": "tab",
        "label": "Flow 1",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "e07f16f2f739f841",
        "type": "tab",
        "label": "Robot control",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "b4e0594b46627af0",
        "type": "tab",
        "label": "Table example",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "107ff8c238bcc061",
        "type": "tab",
        "label": "Monitoring",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "0db56204ee20180e",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "179c78f9b0236523",
        "type": "ui_group",
        "name": "Motor",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "48a4cf2ae6da1ef7",
        "type": "ui_spacer",
        "z": "b4e0594b46627af0",
        "name": "spacer",
        "group": "bbe64981d2d61740",
        "order": 3,
        "width": 23,
        "height": 1
    },
    {
        "id": "bbe64981d2d61740",
        "type": "ui_group",
        "name": "Table",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": 30,
        "collapse": false,
        "className": ""
    },
    {
        "id": "fe5649615357df6a",
        "type": "ui_group",
        "name": "Table",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "30",
        "collapse": false,
        "className": ""
    },
    {
        "id": "5021183245737fb7",
        "type": "ui_spacer",
        "z": "5bd0da370cf69c96",
        "name": "spacer",
        "group": "fe5649615357df6a",
        "order": 3,
        "width": 23,
        "height": 1
    },
    {
        "id": "e7f8a05ff298b01f",
        "type": "ui_spacer",
        "z": "5bd0da370cf69c96",
        "name": "spacer",
        "group": "fe5649615357df6a",
        "order": 5,
        "width": 3,
        "height": 1
    },
    {
        "id": "d455c8cdf5da08b7",
        "type": "ui_spacer",
        "z": "5bd0da370cf69c96",
        "name": "spacer",
        "group": "fe5649615357df6a",
        "order": 6,
        "width": 3,
        "height": 1
    },
    {
        "id": "77a6f0065f04cf1d",
        "type": "ui_spacer",
        "z": "5bd0da370cf69c96",
        "name": "spacer",
        "group": "fe5649615357df6a",
        "order": 7,
        "width": 3,
        "height": 1
    },
    {
        "id": "6d95096ac5bd7afd",
        "type": "ui_spacer",
        "z": "5bd0da370cf69c96",
        "name": "spacer",
        "group": "fe5649615357df6a",
        "order": 8,
        "width": 3,
        "height": 1
    },
    {
        "id": "345ea4b9a97170f0",
        "type": "ui_spacer",
        "z": "5bd0da370cf69c96",
        "name": "spacer",
        "group": "fe5649615357df6a",
        "order": 9,
        "width": 3,
        "height": 1
    },
    {
        "id": "b5045ac8e0d86d02",
        "type": "ui_spacer",
        "z": "5bd0da370cf69c96",
        "name": "spacer",
        "group": "fe5649615357df6a",
        "order": 10,
        "width": 3,
        "height": 1
    },
    {
        "id": "460e6c7c7e4df5c5",
        "type": "ui_spacer",
        "z": "5bd0da370cf69c96",
        "name": "spacer",
        "group": "fe5649615357df6a",
        "order": 11,
        "width": 3,
        "height": 1
    },
    {
        "id": "99187ee94ebba41c",
        "type": "ui_tab",
        "name": "Monitoring",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "b852b2f0ea5468f5",
        "type": "ui_group",
        "name": "Robot 1",
        "tab": "99187ee94ebba41c",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "bb676c794922defe",
        "type": "ui_group",
        "name": "Robot 2",
        "tab": "99187ee94ebba41c",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "0099cc047f067bd5",
        "type": "ui_tab",
        "name": "Control",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "26242c89e093eda8",
        "type": "ui_group",
        "name": "Robot 1",
        "tab": "0099cc047f067bd5",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "4ad0ca5f63196c38",
        "type": "ui_group",
        "name": "Robot 2",
        "tab": "0099cc047f067bd5",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "b482904f5486caf2",
        "type": "inject",
        "z": "5bd0da370cf69c96",
        "name": "Button",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 330,
        "y": 140,
        "wires": [
            [
                "4227b518105f715a"
            ]
        ]
    },
    {
        "id": "4227b518105f715a",
        "type": "IOT Function",
        "z": "5bd0da370cf69c96",
        "name": "Robot4_1",
        "robot_name": "Robot4_1",
        "N": "0",
        "X": "60",
        "Y": "200",
        "T": "0",
        "G": "210",
        "V": "0",
        "D0": "0",
        "L1": "0",
        "L2": "0",
        "L3": "0",
        "L4": "0",
        "P": "0",
        "Text": "",
        "x": 560,
        "y": 140,
        "wires": [
            [
                "d9395a9e4dc0b114"
            ]
        ]
    },
    {
        "id": "d9395a9e4dc0b114",
        "type": "IOT Send",
        "z": "5bd0da370cf69c96",
        "name": "",
        "x": 800,
        "y": 140,
        "wires": []
    },
    {
        "id": "393fae4653f27728",
        "type": "inject",
        "z": "5bd0da370cf69c96",
        "name": "Button",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 330,
        "y": 360,
        "wires": [
            [
                "945e0b6dab58057f"
            ]
        ]
    },
    {
        "id": "945e0b6dab58057f",
        "type": "IOT Function",
        "z": "5bd0da370cf69c96",
        "name": "Robot4_2",
        "robot_name": "Robot4_2",
        "N": "0",
        "X": "250",
        "Y": "120",
        "T": "0",
        "G": "250",
        "V": "0",
        "D0": "0",
        "L1": "0",
        "L2": "0",
        "L3": "0",
        "L4": "0",
        "P": "0",
        "Text": "",
        "x": 560,
        "y": 360,
        "wires": [
            [
                "6ab7f731c7284961"
            ]
        ]
    },
    {
        "id": "6ab7f731c7284961",
        "type": "IOT Send",
        "z": "5bd0da370cf69c96",
        "name": "",
        "x": 800,
        "y": 360,
        "wires": []
    },
    {
        "id": "4a4e681e7c18e6d8",
        "type": "ui_button",
        "z": "5bd0da370cf69c96",
        "name": "Confirm Button",
        "group": "26242c89e093eda8",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Confirm",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 340,
        "y": 200,
        "wires": [
            [
                "4227b518105f715a"
            ]
        ]
    },
    {
        "id": "4446055f8505c194",
        "type": "ui_button",
        "z": "5bd0da370cf69c96",
        "name": "Confirm Button",
        "group": "4ad0ca5f63196c38",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Confirm",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 340,
        "y": 420,
        "wires": [
            [
                "945e0b6dab58057f"
            ]
        ]
    },
    {
        "id": "5a1b909d62c4a217",
        "type": "IOT Get",
        "z": "6f0e28b75d17d8a5",
        "name": "",
        "x": 170,
        "y": 320,
        "wires": [
            [
                "a437fb96c64e2f66"
            ]
        ]
    },
    {
        "id": "6979f40dbe0b2801",
        "type": "ui_digital_display",
        "z": "6f0e28b75d17d8a5",
        "name": "M1",
        "group": "179c78f9b0236523",
        "order": 1,
        "width": 0,
        "height": 0,
        "digits": "4",
        "decimals": "0",
        "x": 530,
        "y": 220,
        "wires": []
    },
    {
        "id": "a437fb96c64e2f66",
        "type": "function",
        "z": "6f0e28b75d17d8a5",
        "name": "function 1",
        "func": "if (msg.payload.name == \"Robot1_1\") {\n    var messages = []\n    for (let i = 1; i <= 6; i++) {\n        messages.push(msg.payload[i])\n    }\n    return messages\n}",
        "outputs": 6,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 320,
        "wires": [
            [
                "6979f40dbe0b2801"
            ],
            [
                "93e24736a18a4878"
            ],
            [
                "202df806d029c099"
            ],
            [
                "c9e4919d12de5d66"
            ],
            [
                "6d338dc4f1d50a8a"
            ],
            [
                "6bfe3f5e95be9e1e"
            ]
        ]
    },
    {
        "id": "93e24736a18a4878",
        "type": "ui_digital_display",
        "z": "6f0e28b75d17d8a5",
        "name": "M2",
        "group": "179c78f9b0236523",
        "order": 1,
        "width": 0,
        "height": 0,
        "digits": "4",
        "decimals": "0",
        "x": 530,
        "y": 260,
        "wires": []
    },
    {
        "id": "202df806d029c099",
        "type": "ui_digital_display",
        "z": "6f0e28b75d17d8a5",
        "name": "M3",
        "group": "179c78f9b0236523",
        "order": 1,
        "width": 0,
        "height": 0,
        "digits": "4",
        "decimals": "0",
        "x": 530,
        "y": 300,
        "wires": []
    },
    {
        "id": "c9e4919d12de5d66",
        "type": "ui_digital_display",
        "z": "6f0e28b75d17d8a5",
        "name": "M4",
        "group": "179c78f9b0236523",
        "order": 1,
        "width": 0,
        "height": 0,
        "digits": "4",
        "decimals": "0",
        "x": 530,
        "y": 340,
        "wires": []
    },
    {
        "id": "6d338dc4f1d50a8a",
        "type": "ui_digital_display",
        "z": "6f0e28b75d17d8a5",
        "name": "M5",
        "group": "179c78f9b0236523",
        "order": 1,
        "width": 0,
        "height": 0,
        "digits": "4",
        "decimals": "0",
        "x": 530,
        "y": 380,
        "wires": []
    },
    {
        "id": "6bfe3f5e95be9e1e",
        "type": "ui_digital_display",
        "z": "6f0e28b75d17d8a5",
        "name": "M6",
        "group": "179c78f9b0236523",
        "order": 1,
        "width": 0,
        "height": 0,
        "digits": "4",
        "decimals": "0",
        "x": 530,
        "y": 420,
        "wires": []
    },
    {
        "id": "f6caafc266b55e49",
        "type": "IOT Get",
        "z": "6f0e28b75d17d8a5",
        "name": "",
        "x": 150,
        "y": 600,
        "wires": [
            [
                "1b6f4711100f0e5e"
            ]
        ]
    },
    {
        "id": "1b6f4711100f0e5e",
        "type": "function",
        "z": "6f0e28b75d17d8a5",
        "name": "function 2",
        "func": "if (msg.payload.name == \"Robot1_1\") {\n    var keys = []\n    for (let key of Object.keys(msg.payload)) {\n        keys.push(msg.payload.key)\n    }\n    return keys\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 600,
        "wires": [
            [
                "5481f218bf492f39"
            ]
        ]
    },
    {
        "id": "5481f218bf492f39",
        "type": "debug",
        "z": "6f0e28b75d17d8a5",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 600,
        "wires": []
    },
    {
        "id": "6822138886921d19",
        "type": "function",
        "z": "e07f16f2f739f841",
        "name": "Get from Robot1_1",
        "func": "if (msg.payload.name == \"Robot1_1\")\n{\n    var msg1 = { payload: msg.payload.m1 };\n    var msg2 = { payload: msg.payload.m2 };\n    var msg3 = { payload: msg.payload.m3 };\n    var msg4 = { payload: msg.payload.m4 };\n    var msg5 = { payload: msg.payload.m5 };\n    var msg6 = { payload: msg.payload.m6 };\n\n    return [msg1, msg2, msg3, msg4, msg5, msg6]\n}",
        "outputs": 6,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 420,
        "wires": [
            [
                "5925c55bb3b1eef5"
            ],
            [
                "acfa7e8cce9adcf5"
            ],
            [
                "442d09e89a4dd4f2"
            ],
            [
                "a5ea1d46592c7593"
            ],
            [
                "c245fd54c78d1716"
            ],
            [
                "e2594e5b1f596f10"
            ]
        ]
    },
    {
        "id": "de24ebcefa807e51",
        "type": "inject",
        "z": "e07f16f2f739f841",
        "name": "Button",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 220,
        "wires": [
            [
                "c798b3e43a01660c"
            ]
        ]
    },
    {
        "id": "efb8c42d2b13366c",
        "type": "inject",
        "z": "e07f16f2f739f841",
        "name": "Button",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 180,
        "wires": [
            [
                "bdfd1d222b8f2b93"
            ]
        ]
    },
    {
        "id": "70c411c7524f7c55",
        "type": "inject",
        "z": "e07f16f2f739f841",
        "name": "Button",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 100,
        "wires": [
            [
                "c23634246ef5a422"
            ]
        ]
    },
    {
        "id": "a377f95011413367",
        "type": "inject",
        "z": "e07f16f2f739f841",
        "name": "Button",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 140,
        "wires": [
            [
                "e5b5ab340ff1f8d9"
            ]
        ]
    },
    {
        "id": "5925c55bb3b1eef5",
        "type": "debug",
        "z": "e07f16f2f739f841",
        "name": "Motor 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 320,
        "wires": []
    },
    {
        "id": "acfa7e8cce9adcf5",
        "type": "debug",
        "z": "e07f16f2f739f841",
        "name": "Motor 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 360,
        "wires": []
    },
    {
        "id": "442d09e89a4dd4f2",
        "type": "debug",
        "z": "e07f16f2f739f841",
        "name": "Motor 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 400,
        "wires": []
    },
    {
        "id": "a5ea1d46592c7593",
        "type": "debug",
        "z": "e07f16f2f739f841",
        "name": "Motor 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 440,
        "wires": []
    },
    {
        "id": "c245fd54c78d1716",
        "type": "debug",
        "z": "e07f16f2f739f841",
        "name": "Motor 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 480,
        "wires": []
    },
    {
        "id": "e2594e5b1f596f10",
        "type": "debug",
        "z": "e07f16f2f739f841",
        "name": "Motor 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 520,
        "wires": []
    },
    {
        "id": "2b084a13633f0a59",
        "type": "comment",
        "z": "e07f16f2f739f841",
        "name": "Pallitizer",
        "info": "",
        "x": 140,
        "y": 60,
        "wires": []
    },
    {
        "id": "2de05c07e6ff392b",
        "type": "comment",
        "z": "e07f16f2f739f841",
        "name": "Angular",
        "info": "",
        "x": 830,
        "y": 60,
        "wires": []
    },
    {
        "id": "93d30b465d670c79",
        "type": "IOT Get",
        "z": "e07f16f2f739f841",
        "name": "",
        "x": 110,
        "y": 420,
        "wires": [
            [
                "6822138886921d19"
            ]
        ]
    },
    {
        "id": "c23634246ef5a422",
        "type": "IOT Function",
        "z": "e07f16f2f739f841",
        "name": "Robot1_1 Pose 1 Vacum 1",
        "robot_name": "Robot1_1",
        "N": "0",
        "X": "1",
        "Y": "0",
        "T": "0",
        "G": "0",
        "V": "1",
        "D0": "0",
        "L1": "0",
        "L2": "0",
        "L3": "0",
        "L4": "0",
        "P": "0",
        "Text": "",
        "x": 340,
        "y": 100,
        "wires": [
            [
                "eaa4408fb1c954cf"
            ]
        ]
    },
    {
        "id": "eaa4408fb1c954cf",
        "type": "IOT Send",
        "z": "e07f16f2f739f841",
        "name": "",
        "x": 560,
        "y": 100,
        "wires": []
    },
    {
        "id": "e5b5ab340ff1f8d9",
        "type": "IOT Function",
        "z": "e07f16f2f739f841",
        "name": "Robot1_1 Coordinates Vacum 0",
        "robot_name": "Robot1_1",
        "N": "0",
        "X": "170",
        "Y": "120",
        "T": "0",
        "G": "200",
        "V": "0",
        "D0": "0",
        "L1": "0",
        "L2": "0",
        "L3": "0",
        "L4": "0",
        "P": "0",
        "Text": "",
        "x": 350,
        "y": 140,
        "wires": [
            [
                "f5f547708f181e5a"
            ]
        ]
    },
    {
        "id": "f5f547708f181e5a",
        "type": "IOT Send",
        "z": "e07f16f2f739f841",
        "name": "",
        "x": 560,
        "y": 140,
        "wires": []
    },
    {
        "id": "bdfd1d222b8f2b93",
        "type": "IOT Function",
        "z": "e07f16f2f739f841",
        "name": "Robot1_1 Parking pose",
        "robot_name": "Robot1_1",
        "N": "0",
        "X": "0",
        "Y": "0",
        "T": "0",
        "G": "0",
        "V": "0",
        "D0": "0",
        "L1": "0",
        "L2": "0",
        "L3": "0",
        "L4": "0",
        "P": "0",
        "Text": "Parking",
        "x": 330,
        "y": 180,
        "wires": [
            [
                "6bcc1c2abdf4ef62"
            ]
        ]
    },
    {
        "id": "6bcc1c2abdf4ef62",
        "type": "IOT Send",
        "z": "e07f16f2f739f841",
        "name": "",
        "x": 560,
        "y": 180,
        "wires": []
    },
    {
        "id": "c798b3e43a01660c",
        "type": "IOT Function",
        "z": "e07f16f2f739f841",
        "name": "Robot1_1 Start Pose",
        "robot_name": "Robot1_1",
        "N": "0",
        "X": "0",
        "Y": "0",
        "T": "0",
        "G": "0",
        "V": "0",
        "D0": "0",
        "L1": "0",
        "L2": "0",
        "L3": "0",
        "L4": "0",
        "P": "0",
        "Text": "Start",
        "x": 320,
        "y": 220,
        "wires": [
            [
                "49e97ffc891461c3"
            ]
        ]
    },
    {
        "id": "49e97ffc891461c3",
        "type": "IOT Send",
        "z": "e07f16f2f739f841",
        "name": "",
        "x": 560,
        "y": 220,
        "wires": []
    },
    {
        "id": "2b6e92d87fbe9620",
        "type": "function",
        "z": "e07f16f2f739f841",
        "name": "Get from Robot1_2",
        "func": "if (msg.payload.name == \"Robot1_2\")\n{\n    var msg1 = { payload: msg.payload.m1 };\n    var msg2 = { payload: msg.payload.m2 };\n    var msg3 = { payload: msg.payload.m3 };\n    var msg4 = { payload: msg.payload.m4 };\n    var msg5 = { payload: msg.payload.m5 };\n    var msg6 = { payload: msg.payload.m6 };\n\n    return [msg1, msg2, msg3, msg4, msg5, msg6]\n}",
        "outputs": 6,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 700,
        "wires": [
            [
                "7606fb93399cf004"
            ],
            [
                "35b226eff03f845a"
            ],
            [
                "cea73cbf1acc3054"
            ],
            [
                "09ca0116ed37930d"
            ],
            [
                "b719ceb0010ac25c"
            ],
            [
                "76de36e5d00577ba"
            ]
        ]
    },
    {
        "id": "7606fb93399cf004",
        "type": "debug",
        "z": "e07f16f2f739f841",
        "name": "Motor 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 600,
        "wires": []
    },
    {
        "id": "35b226eff03f845a",
        "type": "debug",
        "z": "e07f16f2f739f841",
        "name": "Motor 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 640,
        "wires": []
    },
    {
        "id": "cea73cbf1acc3054",
        "type": "debug",
        "z": "e07f16f2f739f841",
        "name": "Motor 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 680,
        "wires": []
    },
    {
        "id": "09ca0116ed37930d",
        "type": "debug",
        "z": "e07f16f2f739f841",
        "name": "Motor 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 720,
        "wires": []
    },
    {
        "id": "b719ceb0010ac25c",
        "type": "debug",
        "z": "e07f16f2f739f841",
        "name": "Motor 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 760,
        "wires": []
    },
    {
        "id": "76de36e5d00577ba",
        "type": "debug",
        "z": "e07f16f2f739f841",
        "name": "Motor 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 800,
        "wires": []
    },
    {
        "id": "23a3ccf2c1270712",
        "type": "IOT Get",
        "z": "e07f16f2f739f841",
        "name": "",
        "x": 110,
        "y": 700,
        "wires": [
            [
                "2b6e92d87fbe9620"
            ]
        ]
    },
    {
        "id": "3b41da62f1fd518f",
        "type": "inject",
        "z": "e07f16f2f739f841",
        "name": "Button",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 850,
        "y": 220,
        "wires": [
            [
                "81cf8194d9d79c5d"
            ]
        ]
    },
    {
        "id": "8bddf47c4b77cae1",
        "type": "inject",
        "z": "e07f16f2f739f841",
        "name": "Button",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 850,
        "y": 180,
        "wires": [
            [
                "f3e734d7b2cb682e"
            ]
        ]
    },
    {
        "id": "341228bf079b283c",
        "type": "inject",
        "z": "e07f16f2f739f841",
        "name": "Button",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 850,
        "y": 100,
        "wires": [
            [
                "61ae32d2696e898f"
            ]
        ]
    },
    {
        "id": "f386f4aa91a53c35",
        "type": "inject",
        "z": "e07f16f2f739f841",
        "name": "Button",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 850,
        "y": 140,
        "wires": [
            [
                "d7c3539153de093f"
            ]
        ]
    },
    {
        "id": "61ae32d2696e898f",
        "type": "IOT Function",
        "z": "e07f16f2f739f841",
        "name": "Robot1_2 Pose 1 Vacum 1",
        "robot_name": "Robot1_2",
        "N": "0",
        "X": "1",
        "Y": "0",
        "T": "0",
        "G": "0",
        "V": "1",
        "D0": "0",
        "L1": "0",
        "L2": "0",
        "L3": "0",
        "L4": "0",
        "P": "0",
        "Text": "",
        "x": 1040,
        "y": 100,
        "wires": [
            [
                "d61bfc5c85b18498"
            ]
        ]
    },
    {
        "id": "d61bfc5c85b18498",
        "type": "IOT Send",
        "z": "e07f16f2f739f841",
        "name": "",
        "x": 1260,
        "y": 100,
        "wires": []
    },
    {
        "id": "d7c3539153de093f",
        "type": "IOT Function",
        "z": "e07f16f2f739f841",
        "name": "Robot1_2 Coordinates Vacum 0",
        "robot_name": "Robot1_2",
        "N": "0",
        "X": "170",
        "Y": "120",
        "T": "90",
        "G": "200",
        "V": "0",
        "D0": "0",
        "L1": "0",
        "L2": "0",
        "L3": "0",
        "L4": "0",
        "P": "0",
        "Text": "",
        "x": 1050,
        "y": 140,
        "wires": [
            [
                "54878d9de884886b"
            ]
        ]
    },
    {
        "id": "54878d9de884886b",
        "type": "IOT Send",
        "z": "e07f16f2f739f841",
        "name": "",
        "x": 1260,
        "y": 140,
        "wires": []
    },
    {
        "id": "f3e734d7b2cb682e",
        "type": "IOT Function",
        "z": "e07f16f2f739f841",
        "name": "Robot1_2 Parking pose",
        "robot_name": "Robot1_2",
        "N": "0",
        "X": "1",
        "Y": "0",
        "T": "0",
        "G": "0",
        "V": "1",
        "D0": "0",
        "L1": "0",
        "L2": "0",
        "L3": "0",
        "L4": "0",
        "P": "0",
        "Text": "Parking",
        "x": 1030,
        "y": 180,
        "wires": [
            [
                "ed88ad0ed55bdf14"
            ]
        ]
    },
    {
        "id": "ed88ad0ed55bdf14",
        "type": "IOT Send",
        "z": "e07f16f2f739f841",
        "name": "",
        "x": 1260,
        "y": 180,
        "wires": []
    },
    {
        "id": "81cf8194d9d79c5d",
        "type": "IOT Function",
        "z": "e07f16f2f739f841",
        "name": "Robot1_2 Start Pose",
        "robot_name": "Robot1_2",
        "N": "0",
        "X": "0",
        "Y": "0",
        "T": "0",
        "G": "0",
        "V": "0",
        "D0": "0",
        "L1": "0",
        "L2": "0",
        "L3": "0",
        "L4": "0",
        "P": "0",
        "Text": "Start",
        "x": 1020,
        "y": 220,
        "wires": [
            [
                "58871668587b2583"
            ]
        ]
    },
    {
        "id": "58871668587b2583",
        "type": "IOT Send",
        "z": "e07f16f2f739f841",
        "name": "",
        "x": 1260,
        "y": 220,
        "wires": []
    },
    {
        "id": "ae91f4d4da46869b",
        "type": "function",
        "z": "b4e0594b46627af0",
        "name": "Add object to table",
        "func": "var tableData = flow.get(\"savedData\") || [];\n\ntableData.push(msg.payload)\n\nmsg.payload = tableData;\n\ntableData = flow.set(\"savedData\", tableData);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 710,
        "y": 100,
        "wires": [
            [
                "b3f58b9d73c28a57"
            ]
        ]
    },
    {
        "id": "ad3e0ca7c2a44365",
        "type": "IOT Function",
        "z": "b4e0594b46627af0",
        "name": "",
        "robot_name": "Robot1_1",
        "N": "0",
        "X": "33",
        "Y": "0",
        "T": "0",
        "G": "0",
        "V": "1",
        "D0": "0",
        "L1": "0",
        "L2": "0",
        "L3": "0",
        "L4": "0",
        "P": "0",
        "Text": "",
        "x": 310,
        "y": 100,
        "wires": [
            [
                "95375375c819f216",
                "4948bcc1a97f4298"
            ]
        ]
    },
    {
        "id": "51eda5ab07ac36d5",
        "type": "function",
        "z": "b4e0594b46627af0",
        "name": "Reset table data ",
        "func": "var tableDataRobot = [] \nflow.set(\"savedDataRobot\", tableDataRobot);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "// Добавленный здесь код будет исполняться\n// однократно при развертывании узла.\nvar tableData = flow.set(\"saveData\", [])",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 300,
        "wires": [
            [
                "5c83e0ffa57aae65"
            ]
        ]
    },
    {
        "id": "95375375c819f216",
        "type": "function",
        "z": "b4e0594b46627af0",
        "name": "Add new variable",
        "func": "var obj = msg.payload\n\nobj[\"state\"] = \"1\";\n\nmsg.payload = obj;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 100,
        "wires": [
            [
                "ae91f4d4da46869b"
            ]
        ]
    },
    {
        "id": "4948bcc1a97f4298",
        "type": "IOT Send",
        "z": "b4e0594b46627af0",
        "name": "",
        "x": 480,
        "y": 60,
        "wires": []
    },
    {
        "id": "7ca0d2165e5692f5",
        "type": "function",
        "z": "b4e0594b46627af0",
        "name": "Add object to table",
        "func": "var tableData = flow.get(\"savedDataRobot\") || [];\n\ntableData.push(msg.payload)\n\nmsg.payload = tableData;\n\ntableData = flow.set(\"savedDataRobot\", tableData);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 260,
        "wires": [
            [
                "5c83e0ffa57aae65"
            ]
        ]
    },
    {
        "id": "506142e223897da1",
        "type": "IOT Function",
        "z": "b4e0594b46627af0",
        "name": "Robot1_1",
        "robot_name": "Robot1_1",
        "N": "1",
        "X": "1",
        "Y": "0",
        "T": "0",
        "G": "0",
        "V": "1",
        "D0": "0",
        "L1": "0",
        "L2": "0",
        "L3": "0",
        "L4": "0",
        "P": "0",
        "Text": "",
        "x": 300,
        "y": 260,
        "wires": [
            [
                "0c6a25743e8458c5",
                "7ca0d2165e5692f5"
            ]
        ]
    },
    {
        "id": "0c6a25743e8458c5",
        "type": "IOT Send",
        "z": "b4e0594b46627af0",
        "name": "",
        "x": 480,
        "y": 220,
        "wires": []
    },
    {
        "id": "89b5f393a6b087fa",
        "type": "function",
        "z": "b4e0594b46627af0",
        "name": "Reset table data ",
        "func": "var tableDataRobot = [] \nflow.set(\"savedData\", tableDataRobot);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "// Добавленный здесь код будет исполняться\n// однократно при развертывании узла.\nvar tableData = flow.set(\"saveData\", [])",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "17669d3aeed7f3d0",
        "type": "ui_button",
        "z": "b4e0594b46627af0",
        "name": "",
        "group": "fe5649615357df6a",
        "order": 1,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "Send to table",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 150,
        "y": 260,
        "wires": [
            [
                "506142e223897da1"
            ]
        ]
    },
    {
        "id": "3d3691d75d9235c4",
        "type": "ui_button",
        "z": "b4e0594b46627af0",
        "name": "",
        "group": "fe5649615357df6a",
        "order": 2,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "Reset table",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 150,
        "y": 300,
        "wires": [
            [
                "51eda5ab07ac36d5"
            ]
        ]
    },
    {
        "id": "7f40c545d2a5f27d",
        "type": "ui_button",
        "z": "b4e0594b46627af0",
        "name": "",
        "group": "bbe64981d2d61740",
        "order": 1,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "Send to table",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 130,
        "y": 100,
        "wires": [
            [
                "ad3e0ca7c2a44365"
            ]
        ]
    },
    {
        "id": "c57be8b680ac86a8",
        "type": "ui_button",
        "z": "b4e0594b46627af0",
        "name": "",
        "group": "bbe64981d2d61740",
        "order": 2,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "Reset table",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 130,
        "y": 140,
        "wires": [
            [
                "89b5f393a6b087fa"
            ]
        ]
    },
    {
        "id": "b3f58b9d73c28a57",
        "type": "ui_table",
        "z": "b4e0594b46627af0",
        "group": "bbe64981d2d61740",
        "name": "Robot table + new variable",
        "order": 4,
        "width": 30,
        "height": 7,
        "columns": [],
        "outputs": 0,
        "cts": false,
        "x": 940,
        "y": 100,
        "wires": []
    },
    {
        "id": "5c83e0ffa57aae65",
        "type": "ui_table",
        "z": "b4e0594b46627af0",
        "group": "fe5649615357df6a",
        "name": "Robot table",
        "order": 4,
        "width": 27,
        "height": 7,
        "columns": [
            {
                "field": "robot_name",
                "title": "Robot_name",
                "width": "150",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "N",
                "title": "N",
                "width": "50",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            }
        ],
        "outputs": 0,
        "cts": false,
        "x": 710,
        "y": 260,
        "wires": []
    },
    {
        "id": "91dabd1646de7628",
        "type": "IOT Get",
        "z": "107ff8c238bcc061",
        "name": "Robot 1",
        "x": 150,
        "y": 180,
        "wires": [
            [
                "3da585c6e8752ec4"
            ]
        ]
    },
    {
        "id": "384458ed91ada098",
        "type": "ui_digital_display",
        "z": "107ff8c238bcc061",
        "name": "M1",
        "group": "b852b2f0ea5468f5",
        "order": 1,
        "width": 0,
        "height": 0,
        "digits": "4",
        "decimals": "0",
        "x": 510,
        "y": 80,
        "wires": []
    },
    {
        "id": "3da585c6e8752ec4",
        "type": "function",
        "z": "107ff8c238bcc061",
        "name": "Get Data",
        "func": "if (msg.payload.name == \"Robot4_1\")\n{\n    var msg1 = { payload: msg.payload.m1 };\n    var msg2 = { payload: msg.payload.m2 };\n    var msg3 = { payload: msg.payload.m3 };\n    var msg4 = { payload: msg.payload.m4 };\n    var msg5 = { payload: msg.payload.m5 };\n    var msg6 = { payload: msg.payload.m6 };\n    return [msg1, msg2, msg3, msg4, msg5, msg6]\n}",
        "outputs": 6,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 180,
        "wires": [
            [
                "384458ed91ada098"
            ],
            [
                "d5a8cd57d6542792"
            ],
            [
                "2c10675981753719"
            ],
            [
                "7bf885a662c1c5a3"
            ],
            [
                "922a92dd86b5ca90"
            ],
            [
                "7082b7f2644c7598"
            ]
        ]
    },
    {
        "id": "d5a8cd57d6542792",
        "type": "ui_digital_display",
        "z": "107ff8c238bcc061",
        "name": "M2",
        "group": "b852b2f0ea5468f5",
        "order": 2,
        "width": 0,
        "height": 0,
        "digits": "4",
        "decimals": "0",
        "x": 510,
        "y": 120,
        "wires": []
    },
    {
        "id": "2c10675981753719",
        "type": "ui_digital_display",
        "z": "107ff8c238bcc061",
        "name": "M3",
        "group": "b852b2f0ea5468f5",
        "order": 3,
        "width": 0,
        "height": 0,
        "digits": "4",
        "decimals": "0",
        "x": 510,
        "y": 160,
        "wires": []
    },
    {
        "id": "7bf885a662c1c5a3",
        "type": "ui_digital_display",
        "z": "107ff8c238bcc061",
        "name": "M4",
        "group": "b852b2f0ea5468f5",
        "order": 4,
        "width": 0,
        "height": 0,
        "digits": "4",
        "decimals": "0",
        "x": 510,
        "y": 200,
        "wires": []
    },
    {
        "id": "922a92dd86b5ca90",
        "type": "ui_digital_display",
        "z": "107ff8c238bcc061",
        "name": "M5",
        "group": "b852b2f0ea5468f5",
        "order": 5,
        "width": 0,
        "height": 0,
        "digits": "4",
        "decimals": "0",
        "x": 510,
        "y": 240,
        "wires": []
    },
    {
        "id": "7082b7f2644c7598",
        "type": "ui_digital_display",
        "z": "107ff8c238bcc061",
        "name": "M6",
        "group": "b852b2f0ea5468f5",
        "order": 6,
        "width": 0,
        "height": 0,
        "digits": "4",
        "decimals": "0",
        "x": 510,
        "y": 280,
        "wires": []
    },
    {
        "id": "340f0800e1b646f3",
        "type": "IOT Get",
        "z": "107ff8c238bcc061",
        "name": "Robot 2",
        "x": 150,
        "y": 460,
        "wires": [
            [
                "e59a8063e0c1ab66"
            ]
        ]
    },
    {
        "id": "a4c0aad89f4a9581",
        "type": "ui_digital_display",
        "z": "107ff8c238bcc061",
        "name": "M1",
        "group": "bb676c794922defe",
        "order": 1,
        "width": 0,
        "height": 0,
        "digits": "4",
        "decimals": "0",
        "x": 510,
        "y": 360,
        "wires": []
    },
    {
        "id": "e59a8063e0c1ab66",
        "type": "function",
        "z": "107ff8c238bcc061",
        "name": "Get Data",
        "func": "if (msg.payload.name == \"Robot4_2\")\n{\n    var msg1 = { payload: msg.payload.m1 };\n    var msg2 = { payload: msg.payload.m2 };\n    var msg3 = { payload: msg.payload.m3 };\n    var msg4 = { payload: msg.payload.m4 };\n    var msg5 = { payload: msg.payload.m5 };\n    var msg6 = { payload: msg.payload.m6 };\n    return [msg1, msg2, msg3, msg4, msg5, msg6]\n}",
        "outputs": 6,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 460,
        "wires": [
            [
                "a4c0aad89f4a9581"
            ],
            [
                "893237df72dbff70"
            ],
            [
                "45e83318e30c92f2"
            ],
            [
                "49bf729858f7490b"
            ],
            [
                "a17ce5075095ad18"
            ],
            [
                "cf8d89f9e5370f45"
            ]
        ]
    },
    {
        "id": "893237df72dbff70",
        "type": "ui_digital_display",
        "z": "107ff8c238bcc061",
        "name": "M2",
        "group": "bb676c794922defe",
        "order": 2,
        "width": 0,
        "height": 0,
        "digits": "4",
        "decimals": "0",
        "x": 510,
        "y": 400,
        "wires": []
    },
    {
        "id": "45e83318e30c92f2",
        "type": "ui_digital_display",
        "z": "107ff8c238bcc061",
        "name": "M3",
        "group": "bb676c794922defe",
        "order": 3,
        "width": 0,
        "height": 0,
        "digits": "4",
        "decimals": "0",
        "x": 510,
        "y": 440,
        "wires": []
    },
    {
        "id": "49bf729858f7490b",
        "type": "ui_digital_display",
        "z": "107ff8c238bcc061",
        "name": "M4",
        "group": "bb676c794922defe",
        "order": 4,
        "width": 0,
        "height": 0,
        "digits": "4",
        "decimals": "0",
        "x": 510,
        "y": 480,
        "wires": []
    },
    {
        "id": "a17ce5075095ad18",
        "type": "ui_digital_display",
        "z": "107ff8c238bcc061",
        "name": "M5",
        "group": "bb676c794922defe",
        "order": 5,
        "width": 0,
        "height": 0,
        "digits": "4",
        "decimals": "0",
        "x": 510,
        "y": 520,
        "wires": []
    },
    {
        "id": "cf8d89f9e5370f45",
        "type": "ui_digital_display",
        "z": "107ff8c238bcc061",
        "name": "M6",
        "group": "bb676c794922defe",
        "order": 6,
        "width": 0,
        "height": 0,
        "digits": "4",
        "decimals": "0",
        "x": 510,
        "y": 560,
        "wires": []
    }
]