node-red/flows.json
[
    {
        "id": "5bd0da370cf69c96",
        "type": "tab",
        "label": "Robot Control",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "107ff8c238bcc061",
        "type": "tab",
        "label": "Robot Monitoring",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "0db56204ee20180e",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "179c78f9b0236523",
        "type": "ui_group",
        "name": "Motor",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "bbe64981d2d61740",
        "type": "ui_group",
        "name": "Table",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": 30,
        "collapse": false,
        "className": ""
    },
    {
        "id": "fe5649615357df6a",
        "type": "ui_group",
        "name": "Table",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "30",
        "collapse": false,
        "className": ""
    },
    {
        "id": "5021183245737fb7",
        "type": "ui_spacer",
        "z": "5bd0da370cf69c96",
        "name": "spacer",
        "group": "fe5649615357df6a",
        "order": 3,
        "width": 23,
        "height": 1
    },
    {
        "id": "e7f8a05ff298b01f",
        "type": "ui_spacer",
        "z": "5bd0da370cf69c96",
        "name": "spacer",
        "group": "fe5649615357df6a",
        "order": 5,
        "width": 3,
        "height": 1
    },
    {
        "id": "d455c8cdf5da08b7",
        "type": "ui_spacer",
        "z": "5bd0da370cf69c96",
        "name": "spacer",
        "group": "fe5649615357df6a",
        "order": 6,
        "width": 3,
        "height": 1
    },
    {
        "id": "77a6f0065f04cf1d",
        "type": "ui_spacer",
        "z": "5bd0da370cf69c96",
        "name": "spacer",
        "group": "fe5649615357df6a",
        "order": 7,
        "width": 3,
        "height": 1
    },
    {
        "id": "6d95096ac5bd7afd",
        "type": "ui_spacer",
        "z": "5bd0da370cf69c96",
        "name": "spacer",
        "group": "fe5649615357df6a",
        "order": 8,
        "width": 3,
        "height": 1
    },
    {
        "id": "345ea4b9a97170f0",
        "type": "ui_spacer",
        "z": "5bd0da370cf69c96",
        "name": "spacer",
        "group": "fe5649615357df6a",
        "order": 9,
        "width": 3,
        "height": 1
    },
    {
        "id": "b5045ac8e0d86d02",
        "type": "ui_spacer",
        "z": "5bd0da370cf69c96",
        "name": "spacer",
        "group": "fe5649615357df6a",
        "order": 10,
        "width": 3,
        "height": 1
    },
    {
        "id": "460e6c7c7e4df5c5",
        "type": "ui_spacer",
        "z": "5bd0da370cf69c96",
        "name": "spacer",
        "group": "fe5649615357df6a",
        "order": 11,
        "width": 3,
        "height": 1
    },
    {
        "id": "99187ee94ebba41c",
        "type": "ui_tab",
        "name": "Monitoring",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "b852b2f0ea5468f5",
        "type": "ui_group",
        "name": "Robot 1",
        "tab": "99187ee94ebba41c",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "bb676c794922defe",
        "type": "ui_group",
        "name": "Robot 2",
        "tab": "99187ee94ebba41c",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "0099cc047f067bd5",
        "type": "ui_tab",
        "name": "Control",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "26242c89e093eda8",
        "type": "ui_group",
        "name": "Robot 1",
        "tab": "0099cc047f067bd5",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "4ad0ca5f63196c38",
        "type": "ui_group",
        "name": "Robot 2",
        "tab": "0099cc047f067bd5",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "b482904f5486caf2",
        "type": "inject",
        "z": "5bd0da370cf69c96",
        "name": "Button",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 330,
        "y": 140,
        "wires": [
            [
                "4227b518105f715a"
            ]
        ]
    },
    {
        "id": "4227b518105f715a",
        "type": "IOT Function",
        "z": "5bd0da370cf69c96",
        "name": "Robot4_1",
        "robot_name": "Robot4_1",
        "N": "0",
        "X": "60",
        "Y": "200",
        "T": "0",
        "G": "210",
        "V": "0",
        "D0": "0",
        "L1": "0",
        "L2": "0",
        "L3": "0",
        "L4": "0",
        "P": "0",
        "Text": "",
        "x": 560,
        "y": 140,
        "wires": [
            [
                "d9395a9e4dc0b114"
            ]
        ]
    },
    {
        "id": "d9395a9e4dc0b114",
        "type": "IOT Send",
        "z": "5bd0da370cf69c96",
        "name": "",
        "x": 800,
        "y": 140,
        "wires": []
    },
    {
        "id": "393fae4653f27728",
        "type": "inject",
        "z": "5bd0da370cf69c96",
        "name": "Button",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 330,
        "y": 360,
        "wires": [
            [
                "945e0b6dab58057f"
            ]
        ]
    },
    {
        "id": "945e0b6dab58057f",
        "type": "IOT Function",
        "z": "5bd0da370cf69c96",
        "name": "Robot4_2",
        "robot_name": "Robot4_2",
        "N": "0",
        "X": "250",
        "Y": "120",
        "T": "0",
        "G": "250",
        "V": "0",
        "D0": "0",
        "L1": "0",
        "L2": "0",
        "L3": "0",
        "L4": "0",
        "P": "0",
        "Text": "",
        "x": 560,
        "y": 360,
        "wires": [
            [
                "6ab7f731c7284961"
            ]
        ]
    },
    {
        "id": "6ab7f731c7284961",
        "type": "IOT Send",
        "z": "5bd0da370cf69c96",
        "name": "",
        "x": 800,
        "y": 360,
        "wires": []
    },
    {
        "id": "4a4e681e7c18e6d8",
        "type": "ui_button",
        "z": "5bd0da370cf69c96",
        "name": "Confirm Button",
        "group": "26242c89e093eda8",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Confirm",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 340,
        "y": 200,
        "wires": [
            [
                "4227b518105f715a"
            ]
        ]
    },
    {
        "id": "4446055f8505c194",
        "type": "ui_button",
        "z": "5bd0da370cf69c96",
        "name": "Confirm Button",
        "group": "4ad0ca5f63196c38",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Confirm",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 340,
        "y": 420,
        "wires": [
            [
                "945e0b6dab58057f"
            ]
        ]
    },
    {
        "id": "d4df45f3d36462f7",
        "type": "ui_slider",
        "z": "5bd0da370cf69c96",
        "name": "",
        "label": "posX",
        "tooltip": "",
        "group": "4ad0ca5f63196c38",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "Robot4_2.x",
        "topicType": "msg",
        "min": "100",
        "max": "300",
        "step": "10",
        "className": "",
        "x": 330,
        "y": 300,
        "wires": [
            [
                "945e0b6dab58057f"
            ]
        ]
    },
    {
        "id": "91dabd1646de7628",
        "type": "IOT Get",
        "z": "107ff8c238bcc061",
        "name": "Robot 1",
        "x": 150,
        "y": 180,
        "wires": [
            [
                "3da585c6e8752ec4"
            ]
        ]
    },
    {
        "id": "384458ed91ada098",
        "type": "ui_digital_display",
        "z": "107ff8c238bcc061",
        "name": "M1",
        "group": "b852b2f0ea5468f5",
        "order": 1,
        "width": 0,
        "height": 0,
        "digits": "4",
        "decimals": "0",
        "x": 510,
        "y": 80,
        "wires": []
    },
    {
        "id": "3da585c6e8752ec4",
        "type": "function",
        "z": "107ff8c238bcc061",
        "name": "Get Data",
        "func": "if (msg.payload.name == \"Robot4_1\")\n{\n    var msg1 = { payload: msg.payload.m1 };\n    var msg2 = { payload: msg.payload.m2 };\n    var msg3 = { payload: msg.payload.m3 };\n    var msg4 = { payload: msg.payload.m4 };\n    var msg5 = { payload: msg.payload.m5 };\n    var msg6 = { payload: msg.payload.m6 };\n    return [msg1, msg2, msg3, msg4, msg5, msg6]\n}",
        "outputs": 6,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 180,
        "wires": [
            [
                "384458ed91ada098"
            ],
            [
                "d5a8cd57d6542792"
            ],
            [
                "2c10675981753719"
            ],
            [
                "7bf885a662c1c5a3"
            ],
            [
                "922a92dd86b5ca90"
            ],
            [
                "7082b7f2644c7598"
            ]
        ]
    },
    {
        "id": "d5a8cd57d6542792",
        "type": "ui_digital_display",
        "z": "107ff8c238bcc061",
        "name": "M2",
        "group": "b852b2f0ea5468f5",
        "order": 2,
        "width": 0,
        "height": 0,
        "digits": "4",
        "decimals": "0",
        "x": 510,
        "y": 120,
        "wires": []
    },
    {
        "id": "2c10675981753719",
        "type": "ui_digital_display",
        "z": "107ff8c238bcc061",
        "name": "M3",
        "group": "b852b2f0ea5468f5",
        "order": 3,
        "width": 0,
        "height": 0,
        "digits": "4",
        "decimals": "0",
        "x": 510,
        "y": 160,
        "wires": []
    },
    {
        "id": "7bf885a662c1c5a3",
        "type": "ui_digital_display",
        "z": "107ff8c238bcc061",
        "name": "M4",
        "group": "b852b2f0ea5468f5",
        "order": 4,
        "width": 0,
        "height": 0,
        "digits": "4",
        "decimals": "0",
        "x": 510,
        "y": 200,
        "wires": []
    },
    {
        "id": "922a92dd86b5ca90",
        "type": "ui_digital_display",
        "z": "107ff8c238bcc061",
        "name": "M5",
        "group": "b852b2f0ea5468f5",
        "order": 5,
        "width": 0,
        "height": 0,
        "digits": "4",
        "decimals": "0",
        "x": 510,
        "y": 240,
        "wires": []
    },
    {
        "id": "7082b7f2644c7598",
        "type": "ui_digital_display",
        "z": "107ff8c238bcc061",
        "name": "M6",
        "group": "b852b2f0ea5468f5",
        "order": 6,
        "width": 0,
        "height": 0,
        "digits": "4",
        "decimals": "0",
        "x": 510,
        "y": 280,
        "wires": []
    },
    {
        "id": "340f0800e1b646f3",
        "type": "IOT Get",
        "z": "107ff8c238bcc061",
        "name": "Robot 2",
        "x": 150,
        "y": 460,
        "wires": [
            [
                "e59a8063e0c1ab66"
            ]
        ]
    },
    {
        "id": "a4c0aad89f4a9581",
        "type": "ui_digital_display",
        "z": "107ff8c238bcc061",
        "name": "M1",
        "group": "bb676c794922defe",
        "order": 1,
        "width": 0,
        "height": 0,
        "digits": "4",
        "decimals": "0",
        "x": 510,
        "y": 360,
        "wires": []
    },
    {
        "id": "e59a8063e0c1ab66",
        "type": "function",
        "z": "107ff8c238bcc061",
        "name": "Get Data",
        "func": "if (msg.payload.name == \"Robot4_2\")\n{\n    var msg1 = { payload: msg.payload.m1 };\n    var msg2 = { payload: msg.payload.m2 };\n    var msg3 = { payload: msg.payload.m3 };\n    var msg4 = { payload: msg.payload.m4 };\n    var msg5 = { payload: msg.payload.m5 };\n    var msg6 = { payload: msg.payload.m6 };\n    return [msg1, msg2, msg3, msg4, msg5, msg6]\n}",
        "outputs": 6,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 460,
        "wires": [
            [
                "a4c0aad89f4a9581"
            ],
            [
                "893237df72dbff70"
            ],
            [
                "45e83318e30c92f2"
            ],
            [
                "49bf729858f7490b"
            ],
            [
                "a17ce5075095ad18"
            ],
            [
                "cf8d89f9e5370f45"
            ]
        ]
    },
    {
        "id": "893237df72dbff70",
        "type": "ui_digital_display",
        "z": "107ff8c238bcc061",
        "name": "M2",
        "group": "bb676c794922defe",
        "order": 2,
        "width": 0,
        "height": 0,
        "digits": "4",
        "decimals": "0",
        "x": 510,
        "y": 400,
        "wires": []
    },
    {
        "id": "45e83318e30c92f2",
        "type": "ui_digital_display",
        "z": "107ff8c238bcc061",
        "name": "M3",
        "group": "bb676c794922defe",
        "order": 3,
        "width": 0,
        "height": 0,
        "digits": "4",
        "decimals": "0",
        "x": 510,
        "y": 440,
        "wires": []
    },
    {
        "id": "49bf729858f7490b",
        "type": "ui_digital_display",
        "z": "107ff8c238bcc061",
        "name": "M4",
        "group": "bb676c794922defe",
        "order": 4,
        "width": 0,
        "height": 0,
        "digits": "4",
        "decimals": "0",
        "x": 510,
        "y": 480,
        "wires": []
    },
    {
        "id": "a17ce5075095ad18",
        "type": "ui_digital_display",
        "z": "107ff8c238bcc061",
        "name": "M5",
        "group": "bb676c794922defe",
        "order": 5,
        "width": 0,
        "height": 0,
        "digits": "4",
        "decimals": "0",
        "x": 510,
        "y": 520,
        "wires": []
    },
    {
        "id": "cf8d89f9e5370f45",
        "type": "ui_digital_display",
        "z": "107ff8c238bcc061",
        "name": "M6",
        "group": "bb676c794922defe",
        "order": 6,
        "width": 0,
        "height": 0,
        "digits": "4",
        "decimals": "0",
        "x": 510,
        "y": 560,
        "wires": []
    }
]